Repository open-telemetry/opentelemetry-erlang, changes with the labels that .github/labeler.yml gives for each.
All labels: language-elixir, language-erlang, scope-api, scope-sdk, scope-semconv, scope-ci

chore: ignore generaed _pb and _service in elp eqwalizer
  .elp.toml
Labels: none

chore: experimental bumps and changelog (#1033)
  apps/opentelemetry/CHANGELOG.md
  apps/opentelemetry_api/CHANGELOG.md
  apps/opentelemetry_api_experimental/CHANGELOG.md
  apps/opentelemetry_api_experimental/src/opentelemetry_api_experimental.app.src
  apps/opentelemetry_experimental/CHANGELOG.md
  apps/opentelemetry_experimental/rebar.config
  docs.sh
Labels: language-erlang, scope-api, scope-sdk

chore: cleanup eqwalizer changes to remove dynamic_cast/1 calls
  apps/opentelemetry/src/otel_resource.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry/test/otel_configuration_SUITE.erl
  apps/opentelemetry/test/otel_propagation_SUITE.erl
  apps/opentelemetry/test/otel_resource_SUITE.erl
  apps/opentelemetry_api/mix.exs
  apps/opentelemetry_api/mix.lock
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/otel_attributes.erl
  apps/opentelemetry_api/src/otel_baggage.erl
  apps/opentelemetry_api/src/otel_ctx.erl
  apps/opentelemetry_api/src/otel_propagator.erl
  apps/opentelemetry_api/src/otel_tracer_provider.erl
  apps/opentelemetry_api/test/opentelemetry_api_SUITE.erl
  apps/opentelemetry_api/test/otel_propagators_SUITE.erl
  apps/opentelemetry_api_experimental/src/otel_meter_provider.erl
  apps/opentelemetry_experimental/include/otel_metrics.hrl
  apps/opentelemetry_experimental/src/otel_metric_exemplar_reservoir_simple.erl
  apps/opentelemetry_experimental/src/otel_observables.erl
  apps/opentelemetry_experimental/src/otel_otlp_logs.erl
  apps/opentelemetry_experimental/test/otel_log_handler_SUITE.erl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
  apps/opentelemetry_exporter/src/otel_exporter_otlp.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
  apps/opentelemetry_zipkin/src/opentelemetry_zipkin.erl
  apps/opentelemetry_zipkin/src/opentelemetry_zipkin_pb.erl
  apps/opentelemetry_zipkin/test/opentelemetry_zipkin_SUITE.erl
  rebar.config
  rebar.lock
Labels: language-elixir, language-erlang, scope-api, scope-sdk

fix(api): enforce W3C Baggage limits on the extract path (#1031)
  apps/opentelemetry_api/src/otel_propagator_baggage.erl
  apps/opentelemetry_api/test/otel_propagator_baggage_SUITE.erl
Labels: language-erlang, scope-api

fix(opentelemetry): shut exporter down in processor terminate (#987)
  apps/opentelemetry/src/otel_batch_processor.erl
  apps/opentelemetry/src/otel_simple_processor.erl
Labels: language-erlang, scope-sdk

fix: processor-level config takes precedence over top-level settings (#984)
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/test/otel_configuration_SUITE.erl
Labels: language-erlang, scope-sdk

fix: add an explicit registration of instruments
  apps/opentelemetry/test/otel_legacy_configuration_SUITE.erl
  apps/opentelemetry_api_experimental/README.md
  apps/opentelemetry_api_experimental/include/otel_meter.hrl
  apps/opentelemetry_api_experimental/include/otel_metrics.hrl
  apps/opentelemetry_api_experimental/lib/open_telemetry/counter.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/histogram.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/meter.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/updown_counter.ex
  apps/opentelemetry_api_experimental/src/otel_counter.erl
  apps/opentelemetry_api_experimental/src/otel_histogram.erl
  apps/opentelemetry_api_experimental/src/otel_instrument.erl
  apps/opentelemetry_api_experimental/src/otel_instrument_registry.erl
  apps/opentelemetry_api_experimental/src/otel_meter.erl
  apps/opentelemetry_api_experimental/src/otel_meter_noop.erl
  apps/opentelemetry_api_experimental/src/otel_updown_counter.erl
  apps/opentelemetry_api_experimental/test/otel_metrics_test.exs
  apps/opentelemetry_experimental/src/otel_aggregation.erl
  apps/opentelemetry_experimental/src/otel_aggregation_histogram_explicit.erl
  apps/opentelemetry_experimental/src/otel_aggregation_last_value.erl
  apps/opentelemetry_experimental/src/otel_aggregation_sum.erl
  apps/opentelemetry_experimental/src/otel_meter_default.erl
  apps/opentelemetry_experimental/src/otel_meter_server.erl
  apps/opentelemetry_experimental/src/otel_metric_reader.erl
  apps/opentelemetry_experimental/src/otel_metrics_tables.erl
  apps/opentelemetry_experimental/src/otel_observables.erl
  apps/opentelemetry_experimental/src/otel_view.erl
  apps/opentelemetry_experimental/src/otel_view.hrl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
Labels: language-elixir, language-erlang, scope-sdk

chore: cleanup eqwalizer changes to remove dynamic_cast/1 calls (#1036)
  apps/opentelemetry/src/otel_resource.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry/test/otel_configuration_SUITE.erl
  apps/opentelemetry/test/otel_propagation_SUITE.erl
  apps/opentelemetry/test/otel_resource_SUITE.erl
  apps/opentelemetry_api/mix.exs
  apps/opentelemetry_api/mix.lock
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/otel_attributes.erl
  apps/opentelemetry_api/src/otel_baggage.erl
  apps/opentelemetry_api/src/otel_ctx.erl
  apps/opentelemetry_api/src/otel_propagator.erl
  apps/opentelemetry_api/src/otel_tracer_provider.erl
  apps/opentelemetry_api/test/opentelemetry_api_SUITE.erl
  apps/opentelemetry_api/test/otel_propagators_SUITE.erl
  apps/opentelemetry_api_experimental/src/otel_meter_provider.erl
  apps/opentelemetry_experimental/include/otel_metrics.hrl
  apps/opentelemetry_experimental/src/otel_metric_exemplar_reservoir_simple.erl
  apps/opentelemetry_experimental/src/otel_observables.erl
  apps/opentelemetry_experimental/src/otel_otlp_logs.erl
  apps/opentelemetry_experimental/test/otel_log_handler_SUITE.erl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
  apps/opentelemetry_exporter/src/otel_exporter_otlp.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
  apps/opentelemetry_zipkin/src/opentelemetry_zipkin.erl
  apps/opentelemetry_zipkin/src/opentelemetry_zipkin_pb.erl
  apps/opentelemetry_zipkin/test/opentelemetry_zipkin_SUITE.erl
  rebar.config
  rebar.lock
Labels: language-elixir, language-erlang, scope-api, scope-sdk

ci: correct action version annotations
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
  .github/workflows/ossf-scorecard.yml
Labels: scope-ci

chore: remove deprecated set_exporter from processors
  apps/opentelemetry/src/otel_batch_processor.erl
  apps/opentelemetry/src/otel_simple_processor.erl
  apps/opentelemetry/src/otel_tracer_server.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry/test/otel_batch_processor_SUITE.erl
Labels: language-erlang, scope-sdk

feat: convert app env configuration to mirror declarative config
  apps/opentelemetry/README.md
  apps/opentelemetry/src/opentelemetry_app.erl
  apps/opentelemetry/src/opentelemetry_sup.erl
  apps/opentelemetry/src/otel_batch_processor.erl
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/src/otel_configuration_declarative.erl
  apps/opentelemetry/src/otel_configuration_model.erl
  apps/opentelemetry/src/otel_configuration_sdk.erl
  apps/opentelemetry/src/otel_configuration_source.erl
  apps/opentelemetry/src/otel_exporter_pid.erl
  apps/opentelemetry/src/otel_resource.erl
  apps/opentelemetry/src/otel_resource_detector.erl
  apps/opentelemetry/src/otel_simple_processor.erl
  apps/opentelemetry/src/otel_span_limits.erl
  apps/opentelemetry/src/otel_span_sup.erl
  apps/opentelemetry/src/otel_tracer_provider_sup.erl
  apps/opentelemetry/src/otel_tracer_server.erl
  apps/opentelemetry/src/otel_tracer_server_sup.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry/test/otel_batch_processor_SUITE.erl
  apps/opentelemetry/test/otel_configuration_SUITE.erl
  apps/opentelemetry/test/otel_configuration_source_SUITE.erl
  apps/opentelemetry/test/otel_declarative_configuration_SUITE.erl
  apps/opentelemetry/test/otel_legacy_configuration_SUITE.erl
  apps/opentelemetry/test/otel_propagation_SUITE.erl
  apps/opentelemetry/test/otel_resource_SUITE.erl
  apps/opentelemetry/test/otel_resource_detector_test.erl
  apps/opentelemetry/test/otel_sweeper_SUITE.erl
  apps/opentelemetry_api/test/otel_propagator_baggage_SUITE.erl
  apps/opentelemetry_exporter/README.md
  apps/opentelemetry_exporter/src/otel_exporter_otlp.erl
  apps/opentelemetry_exporter/src/otel_exporter_traces_otlp.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
  apps/opentelemetry_zipkin/README.md
  config/bench.config
Labels: language-erlang, scope-api, scope-sdk

fix: adapt declarative config to eqwalizer cleanup
  apps/opentelemetry/src/otel_configuration_sdk.erl
  apps/opentelemetry/src/otel_resource.erl
  apps/opentelemetry/src/otel_tracer_server.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry/test/otel_configuration_SUITE.erl
  apps/opentelemetry/test/otel_declarative_configuration_SUITE.erl
  apps/opentelemetry_api/test/otel_propagator_baggage_SUITE.erl
Labels: language-erlang, scope-api, scope-sdk

chore: unbreak os_environment_precedence
  apps/opentelemetry/test/otel_legacy_configuration_SUITE.erl
Labels: language-erlang, scope-sdk

chore: unbreak os_environment_precedence (#1041)
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
  .github/workflows/fossa.yml
  .github/workflows/ossf-scorecard.yml
  .github/workflows/w3c_interop.yml
  .github/workflows/zizmor.yml
  apps/opentelemetry/test/otel_legacy_configuration_SUITE.erl
Labels: language-erlang, scope-sdk, scope-ci

feat: support processor aliases in app config
  apps/opentelemetry/README.md
  apps/opentelemetry/src/otel_configuration_sdk.erl
  apps/opentelemetry/test/otel_configuration_source_SUITE.erl
  apps/opentelemetry/test/otel_declarative_configuration_SUITE.erl
  apps/opentelemetry_exporter/README.md
  apps/opentelemetry_zipkin/README.md
  config/bench.config
  test/otel_metric_tests.exs
  test/otel_tests.exs
Labels: language-erlang, scope-sdk

fix: validate native declarative configuration
  apps/opentelemetry/src/otel_configuration_sdk.erl
  apps/opentelemetry/test/otel_declarative_configuration_SUITE.erl
  apps/opentelemetry_exporter/README.md
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-erlang, scope-sdk

feat: add public named provider configuration API
  apps/opentelemetry/README.md
  apps/opentelemetry/src/otel_tracer_provider_sdk.erl
  apps/opentelemetry/src/otel_tracer_provider_sup.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/otel_tracer_provider.erl
Labels: language-erlang, scope-api, scope-sdk

fix: have tracer_provider_sup take only tracer provider config
  apps/opentelemetry/README.md
  apps/opentelemetry/src/opentelemetry_app.erl
  apps/opentelemetry/src/otel_configuration_sdk.erl
  apps/opentelemetry/src/otel_tracer_provider_sdk.erl
  apps/opentelemetry/src/otel_tracer_provider_sup.erl
  apps/opentelemetry/src/otel_tracer_server.erl
  apps/opentelemetry/src/otel_tracer_server_sup.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry/test/otel_declarative_configuration_SUITE.erl
  apps/opentelemetry_api/src/otel_tracer_provider.erl
Labels: language-erlang, scope-api, scope-sdk

fix: warn on unsupported configuration keys
  apps/opentelemetry/README.md
  apps/opentelemetry/src/otel_configuration_sdk.erl
  apps/opentelemetry/test/otel_configuration_source_SUITE.erl
  apps/opentelemetry/test/otel_configuration_source_SUITE_data/README.md
  apps/opentelemetry/test/otel_configuration_source_SUITE_data/otel-sdk-config.json
  apps/opentelemetry/test/otel_declarative_configuration_SUITE.erl
Labels: language-erlang, scope-sdk

fix: use env vars when no file or appenv config is given
  apps/opentelemetry/README.md
  apps/opentelemetry/src/otel_configuration_environment.erl
  apps/opentelemetry/src/otel_configuration_model.erl
  apps/opentelemetry/src/otel_configuration_source.erl
  apps/opentelemetry/test/otel_configuration_environment_SUITE.erl
  apps/opentelemetry_exporter/README.md
Labels: language-erlang, scope-sdk

fix: cleanup export app env and os vars usage
  apps/opentelemetry/src/otel_configuration_sdk.erl
  apps/opentelemetry/test/otel_configuration_environment_SUITE.erl
  apps/opentelemetry/test/otel_declarative_configuration_SUITE.erl
  apps/opentelemetry_exporter/README.md
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/src/otel_exporter_otlp.erl
  apps/opentelemetry_exporter/src/otel_exporter_traces_otlp.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-erlang, scope-sdk

fix: reject unknown built-in processor options
  apps/opentelemetry/README.md
  apps/opentelemetry/src/otel_batch_processor.erl
  apps/opentelemetry/src/otel_configuration_sdk.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry/test/otel_declarative_configuration_SUITE.erl
Labels: language-erlang, scope-sdk

docs: clarify explicit null span limit defaults
  apps/opentelemetry/README.md
  apps/opentelemetry/src/otel_configuration_sdk.erl
  apps/opentelemetry/test/otel_declarative_configuration_SUITE.erl
Labels: language-erlang, scope-sdk

fix: honor service name in environment resource detector
  apps/opentelemetry/README.md
  apps/opentelemetry/src/otel_resource_env_var.erl
  apps/opentelemetry/test/otel_resource_SUITE.erl
Labels: language-erlang, scope-sdk

fix: default native OTLP exporter protocol
  apps/opentelemetry/src/otel_configuration_sdk.erl
  apps/opentelemetry_exporter/README.md
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-erlang, scope-sdk

feat: support declarative console span exporter
  apps/opentelemetry/README.md
  apps/opentelemetry/src/otel_configuration_sdk.erl
  apps/opentelemetry/test/otel_declarative_configuration_SUITE.erl
Labels: language-erlang, scope-sdk

fix: warn about OTLP HTTP endpoints without a path
  apps/opentelemetry/src/otel_configuration_sdk.erl
  apps/opentelemetry/test/otel_declarative_configuration_SUITE.erl
  apps/opentelemetry_exporter/README.md
Labels: language-erlang, scope-sdk

refactor: remove unused legacy configuration APIs
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/test/otel_legacy_configuration_SUITE.erl
Labels: language-erlang, scope-sdk

fix: make unsupported log level handling explicit
  apps/opentelemetry/README.md
  apps/opentelemetry/src/otel_configuration_environment.erl
  apps/opentelemetry/src/otel_configuration_sdk.erl
  apps/opentelemetry/test/otel_configuration_environment_SUITE.erl
  apps/opentelemetry/test/otel_configuration_source_SUITE.erl
  apps/opentelemetry/test/otel_declarative_configuration_SUITE.erl
Labels: language-erlang, scope-sdk

docs: define canonical native configuration forms
  apps/opentelemetry/README.md
Labels: scope-sdk

docs: state OTP 27 requirement for JSON configuration
  README.md
  apps/opentelemetry/README.md
Labels: scope-sdk

.github/labeler.yml:

language-elixir:
  - changed-files:
    - any-glob-to-any-file:
      - apps/**/*.ex
      - apps/**/*.exs

language-erlang:
  - changed-files:
    - any-glob-to-any-file:
      - apps/**/*.erl
      - apps/**/*.hrl
      - apps/**/rebar.config

scope-api:
  - changed-files:
    - any-glob-to-any-file:
      - apps/opentelemetry_api/**

scope-sdk:
  - changed-files:
    - any-glob-to-any-file:
      - apps/opentelemetry/**

scope-semconv:
  - changed-files:
    - any-glob-to-any-file:
      - apps/opentelemetry_semantic_conventions/**

scope-ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
