Repository open-telemetry/opentelemetry-erlang, changes with the labels that .github/labeler.yml gives for each.
All labels: language-elixir, language-erlang, scope-api, scope-sdk, scope-semconv, scope-ci

.github/labeler.yml:

language-elixir:
  - changed-files:
    - any-glob-to-any-file:
      - apps/**/*.ex
      - apps/**/*.exs

language-erlang:
  - changed-files:
    - any-glob-to-any-file:
      - apps/**/*.erl
      - apps/**/*.hrl
      - apps/**/rebar.config

scope-api:
  - changed-files:
    - any-glob-to-any-file:
      - apps/opentelemetry_api/**

scope-sdk:
  - changed-files:
    - any-glob-to-any-file:
      - apps/opentelemetry/**

scope-semconv:
  - changed-files:
    - any-glob-to-any-file:
      - apps/opentelemetry_semantic_conventions/**

scope-ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**

Precompute hex encodings of SpanID and TraceID (#874)
  apps/opentelemetry/src/otel_span_ets.erl
  apps/opentelemetry/src/otel_span_utils.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry_api/include/opentelemetry.hrl
  apps/opentelemetry_api/src/otel_span.erl
  apps/opentelemetry_api/src/otel_tracer.erl
  apps/opentelemetry_api/src/otel_tracer_noop.erl
  apps/opentelemetry_api/src/otel_utils.erl
  apps/opentelemetry_api/test/opentelemetry_api_SUITE.erl
  apps/opentelemetry_api/test/otel_propagators_SUITE.erl
Labels: language-erlang, scope-api, scope-sdk

docs(CHANGELOG): fixes dates (#908)
  CHANGELOG.md
Labels: none

chore: make commitlint failure not block merging
  .github/workflows/commitlint.yml
Labels: scope-ci

chore: switch to commitlint.js for checking the commit msgs in CI
  .github/workflows/commitlint.yml
  .gitignore
  commitlint.config.ts
  justfile
Labels: scope-ci

chore: switch to commitlint.js for checking the commit msgs in CI (#918)
  .github/workflows/commitlint.yml
  .gitignore
  commitlint.config.ts
  justfile
Labels: scope-ci

chore: ignore chore commits in changelog generation
  apps/opentelemetry/CHANGELOG.md
  apps/opentelemetry/cliff.toml
  apps/opentelemetry_api/CHANGELOG.md
  apps/opentelemetry_api/cliff.toml
  apps/opentelemetry_api_experimental/CHANGELOG.md
  apps/opentelemetry_api_experimental/cliff.toml
  apps/opentelemetry_experimental/CHANGELOG.md
  apps/opentelemetry_experimental/cliff.toml
  apps/opentelemetry_exporter/CHANGELOG.md
  apps/opentelemetry_exporter/cliff.toml
  apps/opentelemetry_semantic_conventions/CHANGELOG.md
  apps/opentelemetry_semantic_conventions/cliff.toml
  apps/opentelemetry_zipkin/CHANGELOG.md
  apps/opentelemetry_zipkin/cliff.toml
Labels: scope-api, scope-sdk, scope-semconv

chore: store cliff configs in one file
  apps/opentelemetry/CHANGELOG.md
  apps/opentelemetry_api/cliff.toml
  apps/opentelemetry_api_experimental/cliff.toml
  apps/opentelemetry_experimental/cliff.toml
  apps/opentelemetry_exporter/cliff.toml
  apps/opentelemetry_semantic_conventions/cliff.toml
  apps/opentelemetry_zipkin/cliff.toml
  cliff.toml
  justfile
Labels: scope-api, scope-sdk, scope-semconv

chore: use a VERSION file for each app
  apps/opentelemetry/CHANGELOG.md
  apps/opentelemetry_api/VERSION
  apps/opentelemetry_api/mix.exs
  apps/opentelemetry_api/src/opentelemetry_api.app.src
  justfile
Labels: language-elixir, scope-api, scope-sdk

chore: store cliff configs in one file
  apps/opentelemetry/CHANGELOG.md
  apps/opentelemetry_api/cliff.toml
  apps/opentelemetry_api_experimental/cliff.toml
  apps/opentelemetry_experimental/cliff.toml
  apps/opentelemetry_exporter/cliff.toml
  apps/opentelemetry_semantic_conventions/cliff.toml
  apps/opentelemetry_zipkin/cliff.toml
  cliff.toml
  justfile
Labels: scope-api, scope-sdk, scope-semconv

fix: no_auto_import of link to fix otp-28 warning
  apps/opentelemetry_api/src/opentelemetry.erl
Labels: language-erlang, scope-api

chore: bump to opentelemetry-1.7.0, api-1.5.0 exporter-1.10.0
  apps/opentelemetry/rebar.config
  apps/opentelemetry/src/opentelemetry.app.src
  apps/opentelemetry_api/CHANGELOG.md
  apps/opentelemetry_api/src/opentelemetry_api.app.src
  apps/opentelemetry_exporter/rebar.config
  apps/opentelemetry_exporter/src/opentelemetry_exporter.app.src
  docs.sh
Labels: language-erlang, scope-api, scope-sdk

chore: make tag prefix properly be <app>/v<vsn>
  justfile
Labels: none

chore: update changelogs for latest releases
  apps/opentelemetry/CHANGELOG.md
  apps/opentelemetry_api/CHANGELOG.md
  apps/opentelemetry_exporter/CHANGELOG.md
Labels: scope-api, scope-sdk

simplify cliff.toml usage and bump versions (#923)
  apps/opentelemetry/CHANGELOG.md
  apps/opentelemetry/rebar.config
  apps/opentelemetry/src/opentelemetry.app.src
  apps/opentelemetry_api/CHANGELOG.md
  apps/opentelemetry_api/cliff.toml
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/opentelemetry_api.app.src
  apps/opentelemetry_api_experimental/CHANGELOG.md
  apps/opentelemetry_api_experimental/cliff.toml
  apps/opentelemetry_experimental/CHANGELOG.md
  apps/opentelemetry_experimental/cliff.toml
  apps/opentelemetry_exporter/CHANGELOG.md
  apps/opentelemetry_exporter/cliff.toml
  apps/opentelemetry_exporter/rebar.config
  apps/opentelemetry_exporter/src/opentelemetry_exporter.app.src
  apps/opentelemetry_semantic_conventions/CHANGELOG.md
  apps/opentelemetry_semantic_conventions/cliff.toml
  apps/opentelemetry_zipkin/CHANGELOG.md
  apps/opentelemetry_zipkin/cliff.toml
  cliff.toml
  docs.sh
  justfile
Labels: language-erlang, scope-api, scope-sdk, scope-semconv

chore: update changelogs with PR numbers
  apps/opentelemetry/CHANGELOG.md
  apps/opentelemetry_api/CHANGELOG.md
  apps/opentelemetry_exporter/CHANGELOG.md
  justfile
Labels: scope-api, scope-sdk

chore: update changelogs with PR numbers (#924)
  apps/opentelemetry/CHANGELOG.md
  apps/opentelemetry_api/CHANGELOG.md
  apps/opentelemetry_exporter/CHANGELOG.md
  justfile
Labels: scope-api, scope-sdk

docs: add spec crosswalks, architecture, review guides, config recipes, glossary, and test coverage for experimental API and SDK
  .DS_Store
  apps/opentelemetry_api_experimental/ARCHITECTURE.md
  apps/opentelemetry_api_experimental/GLOSSARY.md
  apps/opentelemetry_api_experimental/README.md
  apps/opentelemetry_api_experimental/REVIEW_GUIDE.md
  apps/opentelemetry_api_experimental/SPEC_COMPLIANCE.md
  apps/opentelemetry_api_experimental/TEST_COVERAGE.md
  apps/opentelemetry_experimental/ARCHITECTURE.md
  apps/opentelemetry_experimental/CONFIG_RECIPES.md
  apps/opentelemetry_experimental/GLOSSARY.md
  apps/opentelemetry_experimental/README.md
  apps/opentelemetry_experimental/REVIEW_GUIDE.md
  apps/opentelemetry_experimental/SPEC_COMPLIANCE.md
  apps/opentelemetry_experimental/TEST_COVERAGE.md
Labels: none

chore: avoid confusing stacktrace with an otel trace
  apps/opentelemetry_api/lib/open_telemetry/span.ex
  apps/opentelemetry_api/lib/open_telemetry/tracer.ex
Labels: language-elixir, scope-api

chore: avoid confusing stacktrace with an otel trace (#929)
  apps/opentelemetry_api/lib/open_telemetry/span.ex
  apps/opentelemetry_api/lib/open_telemetry/tracer.ex
Labels: language-elixir, scope-api

chore: replace linting of individual commits with linting PR titles
  .commit-me.json
  .github/workflows/commitlint.yml
  .github/workflows/conventional-commits.yml
  commitlint.config.ts
  justfile
Labels: scope-ci

chore: replace linting of individual commits with linting PR titles
  .commit-me.json
  .github/workflows/commitlint.yml
  .github/workflows/conventional-commits.yml
  commitlint.config.ts
  justfile
Labels: scope-ci

chore: replace linting of individual commits with linting PR titles (#940)
  .commit-me.json
  .github/workflows/commitlint.yml
  .github/workflows/conventional-commits.yml
  commitlint.config.ts
  justfile
Labels: scope-ci

chore: Add exemption for artifact hub
  .clomonitor.yml
Labels: none

chore: Add exemption for artifact hub (#939)
  .clomonitor.yml
Labels: none

Parse without string trim if at all possible
  apps/opentelemetry_api/src/otel_propagator_trace_context.erl
Labels: language-erlang, scope-api

fix: instrument unit must be an atom not the number 1
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
Labels: language-erlang

fix: make description optional in metrics protobuf map
  apps/opentelemetry_api_experimental/src/otel_instrument.erl
  apps/opentelemetry_experimental/include/otel_metrics.hrl
  apps/opentelemetry_experimental/src/otel_otlp_metrics.erl
Labels: language-erlang

chore: ignore eqwalizer complaining about matchspec
  apps/opentelemetry_experimental/src/otel_view.erl
Labels: language-erlang

chore: update to latest otel protos
  apps/opentelemetry_exporter/src/opentelemetry_exporter_logs_service_pb.erl
  apps/opentelemetry_exporter/src/opentelemetry_exporter_metrics_service_pb.erl
  apps/opentelemetry_exporter/src/opentelemetry_exporter_trace_service_pb.erl
  apps/opentelemetry_exporter/src/opentelemetry_logs_service.erl
  apps/opentelemetry_exporter/src/opentelemetry_metrics_service.erl
  apps/opentelemetry_exporter/src/opentelemetry_trace_service.erl
Labels: language-erlang

fix: instrument unit must be an atom not the number 1 (#950)
  apps/opentelemetry_api_experimental/src/otel_instrument.erl
  apps/opentelemetry_experimental/include/otel_metrics.hrl
  apps/opentelemetry_experimental/src/otel_otlp_metrics.erl
  apps/opentelemetry_experimental/src/otel_view.erl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
Labels: language-erlang

fix(exporter): encode log record body as string instead of int array
  apps/opentelemetry_experimental/src/otel_otlp_logs.erl
Labels: language-erlang

fix: preserve span table across otel_span_ets crashes
  apps/opentelemetry/src/otel_span_ets.erl
  apps/opentelemetry/test/otel_sweeper_SUITE.erl
Labels: language-erlang, scope-sdk

fix(exporter): treat unicode charlists as OTLP string values
  apps/opentelemetry_exporter/src/otel_otlp_common.erl
Labels: language-erlang

refactor(exporter): avoid boolean branching in charlist detection
  apps/opentelemetry_exporter/src/otel_otlp_common.erl
Labels: language-erlang

Adds log handler's fsm exporting state's clause on empty batch
  apps/opentelemetry_experimental/src/otel_log_handler.erl
Labels: language-erlang

Adds `flush` call
  apps/opentelemetry_experimental/src/otel_log_handler.erl
Labels: language-erlang

Refactors flushing
  apps/opentelemetry_experimental/src/otel_log_handler.erl
Labels: language-erlang

fix: parse without string trim if at all possible
  apps/opentelemetry_api/src/otel_propagator_trace_context.erl
Labels: language-erlang, scope-api

fix: parse without string trim if at all possible (#945)
  apps/opentelemetry_api/src/otel_propagator_trace_context.erl
Labels: language-erlang, scope-api

feat: allows record_exception to record throws/exits
  apps/opentelemetry_api/lib/open_telemetry/span.ex
  test/otel_tests.exs
Labels: language-elixir, scope-api
