Repository open-telemetry/opentelemetry-erlang, changes with the labels that .github/labeler.yml gives for each.
All labels: language-elixir, language-erlang, scope-api, scope-sdk, scope-semconv, scope-ci

.github/labeler.yml:

language-elixir:
  - changed-files:
    - any-glob-to-any-file:
      - apps/**/*.ex
      - apps/**/*.exs

language-erlang:
  - changed-files:
    - any-glob-to-any-file:
      - apps/**/*.erl
      - apps/**/*.hrl
      - apps/**/rebar.config

scope-api:
  - changed-files:
    - any-glob-to-any-file:
      - apps/opentelemetry_api/**

scope-sdk:
  - changed-files:
    - any-glob-to-any-file:
      - apps/opentelemetry/**

scope-semconv:
  - changed-files:
    - any-glob-to-any-file:
      - apps/opentelemetry_semantic_conventions/**

scope-ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**

chore(docs): refine agent guidance
  AGENTS.md
Labels: none

fix: bump grpcbox to 0.18.0 to fix hackney module conflicts (#1013)
  rebar.lock
Labels: none

ci: bump FOSSA workflow OTP pin to 27.2.4 to fix hex.pm TLS failure (#1015)
  .github/workflows/fossa.yml
Labels: scope-ci

Add best practices and Docker pinning to Renovate config
  renovate.json
Labels: none

Replicate contrin
  renovate.json
Labels: none

Update Jaeger image to version 2.19.0
  docker-compose.yml
Labels: none

restore context properly in noop tracer if span function crashes
  apps/opentelemetry_api/src/otel_tracer_noop.erl
Labels: language-erlang, scope-api

chore: Update Docker images to specific versions with SHA (#1004)
  docker-compose.yml
Labels: none

chore: renovate housekeeping (#1017)
  renovate.json
Labels: none

fix: prevent renovate from pinning hex dependency semver ranges
  renovate.json
Labels: none

fix: prevent renovate from pinning hex dependency semver ranges (#1022)
  renovate.json
Labels: none

ci: add shared zizmor security scanning workflow
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
  .github/workflows/fossa.yml
  .github/workflows/w3c_interop.yml
  .github/workflows/zizmor.yml
Labels: scope-ci

fix(experimental): keep otel_log_handler exporting after an idle interval
  apps/opentelemetry_experimental/src/otel_log_handler.erl
  apps/opentelemetry_experimental/test/otel_log_handler_SUITE.erl
Labels: language-erlang

fix(experimental): keep otel_log_handler exporting after an idle interval (#1005)
  apps/opentelemetry_experimental/src/otel_log_handler.erl
  apps/opentelemetry_experimental/test/otel_log_handler_SUITE.erl
Labels: language-erlang

fix: decode hex trace and span ids in OTLP log records (#1001)
  apps/opentelemetry_experimental/src/otel_otlp_logs.erl
  apps/opentelemetry_experimental/test/otel_otlp_logs_SUITE.erl
Labels: language-erlang

chore: bump exporter to 1.11.0
  apps/opentelemetry_exporter/src/opentelemetry_exporter.app.src
  docs.sh
Labels: none

chore: update exporter changelog for 1.11.0
  apps/opentelemetry_exporter/CHANGELOG.md
Labels: none

Use shared OSSF Scorecard workflow
  .github/workflows/ossf-scorecard.yml
Labels: scope-ci

fix(api): enforce W3C Baggage limits on the extract path
  apps/opentelemetry_api/src/otel_propagator_baggage.erl
  apps/opentelemetry_api/test/otel_propagator_baggage_SUITE.erl
Labels: language-erlang, scope-api

fix(api): charge the separator byte between accepted baggage entries
  apps/opentelemetry_api/src/otel_propagator_baggage.erl
  apps/opentelemetry_api/test/otel_propagator_baggage_SUITE.erl
Labels: language-erlang, scope-api

fix(exporter): encode log record body as string instead of int array (#952)
  apps/opentelemetry_experimental/src/otel_otlp_logs.erl
Labels: language-erlang

chore: add additional tests of config behaviour
  apps/opentelemetry/test/otel_legacy_configuration_SUITE.erl
Labels: language-erlang, scope-sdk

chore: fix tests clearing tracers
  apps/opentelemetry/test/opentelemetry_SUITE.erl
Labels: language-erlang, scope-sdk

ci: add shared zizmor security scanning workflow (#1028)
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
  .github/workflows/fossa.yml
  .github/workflows/w3c_interop.yml
  .github/workflows/zizmor.yml
Labels: scope-ci

Use shared OSSF Scorecard workflow (#1030)
  .github/workflows/ossf-scorecard.yml
Labels: scope-ci

feat: add support for an Otel declarative configuration file
  apps/opentelemetry/README.md
  apps/opentelemetry/src/opentelemetry_app.erl
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/src/otel_configuration_declarative.erl
  apps/opentelemetry/src/otel_configuration_legacy.erl
  apps/opentelemetry/src/otel_configuration_source.erl
  apps/opentelemetry/src/otel_id_generator.erl
  apps/opentelemetry/src/otel_resource.erl
  apps/opentelemetry/src/otel_resource_detector.erl
  apps/opentelemetry/src/otel_span_ets.erl
  apps/opentelemetry/src/otel_span_sweeper.erl
  apps/opentelemetry/test/otel_configuration_source_SUITE.erl
  apps/opentelemetry/test/otel_declarative_configuration_SUITE.erl
  apps/opentelemetry/test/otel_legacy_configuration_SUITE.erl
  apps/opentelemetry/test/otel_runtime_configuration_SUITE.erl
  apps/opentelemetry_api/include/gradualizer.hrl
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/otel_baggage.erl
  apps/opentelemetry_api/src/otel_propagator_trace_context.erl
  apps/opentelemetry_api/test/otel_baggage_SUITE.erl
  apps/opentelemetry_experimental/src/opentelemetry_experimental_app.erl
  apps/opentelemetry_experimental/src/otel_aggregation_last_value.erl
  apps/opentelemetry_experimental/src/otel_exporter_logs_otlp.erl
  apps/opentelemetry_experimental/src/otel_exporter_metrics_otlp.erl
  apps/opentelemetry_experimental/src/otel_view.erl
  apps/opentelemetry_exporter/src/otel_exporter_otlp.erl
  apps/opentelemetry_exporter/src/otel_exporter_traces_otlp.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
  apps/opentelemetry_zipkin/src/opentelemetry_zipkin.erl
  rebar.config
Labels: language-erlang, scope-api, scope-sdk

chore: move to testing on otp 29, 28 and 27
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
  .github/workflows/w3c_interop.yml
Labels: scope-ci

chore: bump rebar3 version used in CI
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
Labels: scope-ci

chore: bump elp used to run eqwalizer in CI
  .github/workflows/erlang.yml
Labels: scope-ci

chore: update to latest otel protos (#951)
  apps/opentelemetry_exporter/src/opentelemetry_exporter_logs_service_pb.erl
  apps/opentelemetry_exporter/src/opentelemetry_exporter_metrics_service_pb.erl
  apps/opentelemetry_exporter/src/opentelemetry_exporter_trace_service_pb.erl
  apps/opentelemetry_exporter/src/opentelemetry_logs_service.erl
  apps/opentelemetry_exporter/src/opentelemetry_metrics_service.erl
  apps/opentelemetry_exporter/src/opentelemetry_trace_service.erl
Labels: language-erlang

chore: bump exp api and sdk to 0.6.0
  apps/opentelemetry_api_experimental/src/opentelemetry_api_experimental.app.src
  apps/opentelemetry_experimental/rebar.config
  docs.sh
Labels: language-erlang

chore: update changelog
  apps/opentelemetry/CHANGELOG.md
  apps/opentelemetry_api/CHANGELOG.md
  apps/opentelemetry_api_experimental/CHANGELOG.md
  apps/opentelemetry_experimental/CHANGELOG.md
  apps/opentelemetry_exporter/CHANGELOG.md
Labels: scope-api, scope-sdk

chore: bump exporter to 1.11.0 (#1029)
  apps/opentelemetry_exporter/CHANGELOG.md
  apps/opentelemetry_exporter/src/opentelemetry_exporter.app.src
  docs.sh
Labels: none

chore: move to testing on otp 29, 28 and 27
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
  .github/workflows/w3c_interop.yml
Labels: scope-ci

chore: fix tests clearing tracers
  apps/opentelemetry/test/opentelemetry_SUITE.erl
Labels: language-erlang, scope-sdk

chore: add additional tests of config behaviour
  apps/opentelemetry/test/otel_legacy_configuration_SUITE.erl
Labels: language-erlang, scope-sdk

chore: bump rebar3 version used in CI
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
Labels: scope-ci

chore: bump elp used to run eqwalizer in CI
  .github/workflows/erlang.yml
Labels: scope-ci

chore: remove use of gradualizer
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/src/otel_id_generator.erl
  apps/opentelemetry/src/otel_span_ets.erl
  apps/opentelemetry/src/otel_span_sweeper.erl
  apps/opentelemetry_api/include/gradualizer.hrl
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/otel_baggage.erl
  apps/opentelemetry_api/src/otel_propagator_trace_context.erl
  apps/opentelemetry_experimental/src/otel_aggregation_last_value.erl
  apps/opentelemetry_experimental/src/otel_exporter_logs_otlp.erl
  apps/opentelemetry_experimental/src/otel_exporter_metrics_otlp.erl
  apps/opentelemetry_experimental/src/otel_view.erl
  apps/opentelemetry_exporter/src/otel_exporter_otlp.erl
  apps/opentelemetry_exporter/src/otel_exporter_traces_otlp.erl
  apps/opentelemetry_zipkin/src/opentelemetry_zipkin.erl
  rebar.config
Labels: language-erlang, scope-api, scope-sdk

chore: resolve eqwailzer found erros
  apps/opentelemetry/include/otel_span.hrl
  apps/opentelemetry/src/otel_batch_processor.erl
  apps/opentelemetry/src/otel_resource.erl
  apps/opentelemetry/src/otel_resource_detector.erl
  apps/opentelemetry/src/otel_sampler_trace_id_ratio_based.erl
  apps/opentelemetry/test/attributes_sampler.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry/test/otel_batch_processor_SUITE.erl
  apps/opentelemetry/test/otel_configuration_SUITE.erl
  apps/opentelemetry/test/otel_propagation_SUITE.erl
  apps/opentelemetry/test/otel_resource_SUITE.erl
  apps/opentelemetry/test/otel_samplers_SUITE.erl
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/otel_propagator.erl
  apps/opentelemetry_api/src/otel_propagator_text_map_composite.erl
  apps/opentelemetry_api/src/otel_span.erl
  apps/opentelemetry_api/src/otel_tracer_provider.erl
  apps/opentelemetry_api/test/opentelemetry_api_SUITE.erl
  apps/opentelemetry_api/test/otel_baggage_SUITE.erl
  apps/opentelemetry_api/test/otel_propagator_b3_SUITE.erl
  apps/opentelemetry_api/test/otel_propagators_SUITE.erl
  apps/opentelemetry_experimental/include/otel_metrics.hrl
  apps/opentelemetry_experimental/src/otel_observables.erl
  apps/opentelemetry_experimental/src/otel_otlp_logs.erl
  apps/opentelemetry_experimental/src/otel_view.erl
  apps/opentelemetry_experimental/test/otel_exporter_metrics_otlp_SUITE.erl
  apps/opentelemetry_experimental/test/otel_log_handler_SUITE.erl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
  apps/opentelemetry_experimental/test/simple_metric_producer.erl
  apps/opentelemetry_exporter/src/opentelemetry_logs_service.erl
  apps/opentelemetry_exporter/src/opentelemetry_metrics_service.erl
  apps/opentelemetry_exporter/src/opentelemetry_trace_service.erl
  apps/opentelemetry_exporter/src/otel_exporter_otlp.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
  apps/opentelemetry_zipkin/src/opentelemetry_zipkin_pb.erl
  apps/opentelemetry_zipkin/test/opentelemetry_zipkin_SUITE.erl
Labels: language-erlang, scope-api, scope-sdk
