Repository open-telemetry/opentelemetry-erlang, changes with the labels that .github/labeler.yml gives for each.
All labels: language-elixir, language-erlang, scope-api, scope-sdk, scope-semconv, scope-ci

.github/labeler.yml:

language-elixir:
  - changed-files:
    - any-glob-to-any-file:
      - apps/**/*.ex
      - apps/**/*.exs

language-erlang:
  - changed-files:
    - any-glob-to-any-file:
      - apps/**/*.erl
      - apps/**/*.hrl
      - apps/**/rebar.config

scope-api:
  - changed-files:
    - any-glob-to-any-file:
      - apps/opentelemetry_api/**

scope-sdk:
  - changed-files:
    - any-glob-to-any-file:
      - apps/opentelemetry/**

scope-semconv:
  - changed-files:
    - any-glob-to-any-file:
      - apps/opentelemetry_semantic_conventions/**

scope-ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**

feat: add export_unsampled option to batch and simple processors
  apps/opentelemetry/src/otel_batch_processor.erl
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/src/otel_simple_processor.erl
  apps/opentelemetry/test/otel_batch_processor_SUITE.erl
Labels: language-erlang, scope-sdk

Reverts treatment of charlist attribute's value as unicode binary
  apps/opentelemetry_exporter/src/otel_otlp_common.erl
Labels: language-erlang

Moves handler-specific config parameters into explicit sub map
  apps/opentelemetry_experimental/src/otel_log_handler.erl
Labels: language-erlang

Makes formatted log message a binary instead of a charlist
  apps/opentelemetry_experimental/src/otel_otlp_logs.erl
Labels: language-erlang

Adds comment to re line
  apps/opentelemetry_experimental/src/otel_otlp_logs.erl
Labels: language-erlang

Adds otel ids to bytes marshalling for log records
  apps/opentelemetry_experimental/src/otel_otlp_logs.erl
Labels: language-erlang

Drops otel_* metadata attributes from log records
  apps/opentelemetry_experimental/src/otel_otlp_logs.erl
Labels: language-erlang

chore: Move inactive members to emeritus
  README.md
Labels: none

chore: Move inactive members to emeritus
  README.md
Labels: none

Fix hex-encoded trace/span IDs in logs OTLP exporter
  apps/opentelemetry_experimental/src/otel_otlp_logs.erl
  apps/opentelemetry_experimental/test/otel_exporter_metrics_otlp_SUITE.erl
Labels: language-erlang

Set default export_interval_ms in otel_metric_reader
  apps/opentelemetry_experimental/src/otel_metric_reader.erl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
Labels: language-erlang

Preserve processor-level exporter when global traces_exporter is set
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/test/otel_configuration_SUITE.erl
Labels: language-erlang, scope-sdk

Support incubating semconv stability levels
  apps/opentelemetry_semantic_conventions/makefile
  apps/opentelemetry_semantic_conventions/templates/registry/elixir/semantic_attributes.ex.j2
  apps/opentelemetry_semantic_conventions/templates/registry/elixir/semantic_metrics.ex.j2
  apps/opentelemetry_semantic_conventions/templates/registry/elixir/weaver.yaml
  apps/opentelemetry_semantic_conventions/templates/registry/erlang/semantic_attributes.hrl.j2
  apps/opentelemetry_semantic_conventions/templates/registry/erlang/weaver.yaml
Labels: scope-semconv

fix(opentelemetry): shut exporter down in processor terminate
  apps/opentelemetry/src/otel_batch_processor.erl
  apps/opentelemetry/src/otel_simple_processor.erl
Labels: language-erlang, scope-sdk

Use erl_error:format_exception for exception.stacktrace
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry_api/src/otel_span.erl
Labels: language-erlang, scope-api, scope-sdk

chore: Move inactive members to emeritus (#978)
  README.md
Labels: none

fix otlp boolean attribute encoding
  apps/opentelemetry_exporter/src/otel_otlp_common.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-erlang

Optional gRPC dep
  apps/opentelemetry_exporter/include/otel_grpcbox_def.hrl
  apps/opentelemetry_exporter/rebar.config
  apps/opentelemetry_exporter/src/opentelemetry_exporter.app.src
  apps/opentelemetry_exporter/src/opentelemetry_logs_service.erl
  apps/opentelemetry_exporter/src/opentelemetry_metrics_service.erl
  apps/opentelemetry_exporter/src/opentelemetry_trace_service.erl
  apps/opentelemetry_exporter/src/otel_exporter_otlp.erl
Labels: language-erlang

fix: cap W3C Baggage extract at 8192 bytes and 180 entries
  apps/opentelemetry_api/src/otel_propagator_baggage.erl
  apps/opentelemetry_api/test/otel_propagator_baggage_SUITE.erl
Labels: language-erlang, scope-api

feat(experimental): add metrics cardinality limit with overflow
  apps/opentelemetry_experimental/src/otel_aggregation.erl
  apps/opentelemetry_experimental/src/otel_meter_server.erl
  apps/opentelemetry_experimental/src/otel_metric_cardinality.erl
  apps/opentelemetry_experimental/src/otel_metric_reader.erl
  apps/opentelemetry_experimental/src/otel_view.hrl
  apps/opentelemetry_experimental/test/otel_metric_cardinality_SUITE.erl
  apps/opentelemetry_experimental/test/otel_metric_cardinality_tests.erl
Labels: language-erlang

fix: decode hex trace and span ids in OTLP log records
  apps/opentelemetry_experimental/src/otel_otlp_logs.erl
  apps/opentelemetry_experimental/test/otel_otlp_logs_SUITE.erl
Labels: language-erlang

fix: processor-level config takes precedence over top-level settings
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/test/otel_configuration_SUITE.erl
Labels: language-erlang, scope-sdk

Update Docker images to specific versions with SHA
  docker-compose.yml
Labels: none

fix(experimental): keep otel_log_handler exporting after an idle interval
  apps/opentelemetry_experimental/src/otel_log_handler.erl
  apps/opentelemetry_experimental/test/otel_log_handler_SUITE.erl
Labels: language-erlang

chore: Move inactive members to emeritus
  README.md
Labels: none

Fix emeritus section positioning
  README.md
Labels: none

test(experimental): fix otel_log_handler test exporter arity
  apps/opentelemetry_experimental/test/otel_log_handler_SUITE.erl
Labels: language-erlang

fix(api): accept W3C Trace Context Level 2 tracestate key grammar
  apps/opentelemetry_api/src/otel_tracestate.erl
  apps/opentelemetry_api/test/otel_propagators_SUITE.erl
Labels: language-erlang, scope-api

ci: drop OTP 25 from Elixir test matrix
  .github/workflows/elixir.yml
Labels: scope-ci

ci: drop OTP 25 from Elixir test matrix (#1012)
  .github/workflows/elixir.yml
Labels: scope-ci

fix(api): accept W3C Trace Context Level 2 tracestate key grammar (#1011)
  apps/opentelemetry_api/src/otel_tracestate.erl
  apps/opentelemetry_api/test/otel_propagators_SUITE.erl
Labels: language-erlang, scope-api

Fix emeritus section positioning (#1008)
  README.md
Labels: none

Use erl_error:format_exception for exception.stacktrace (#988)
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry_api/src/otel_span.erl
Labels: language-erlang, scope-api, scope-sdk

fix otlp boolean attribute encoding (#991)
  apps/opentelemetry_exporter/src/otel_otlp_common.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-erlang

fix: bump grpcbox to 0.18.0 to fix hackney module conflicts
  rebar.lock
Labels: none

chore(docs): Remove Greg Mefford from emeritus status
  README.md
Labels: none

ci: bump FOSSA workflow OTP pin to 27.2.4 to fix hex.pm TLS failure
  .github/workflows/fossa.yml
Labels: scope-ci

chore(docs): Remove Greg Mefford from emeritus status (#1014)
  README.md
Labels: none

chore: add AGENTS.md for AI coding agent guidance
  AGENTS.md
  CLAUDE.md
Labels: none

docs: clarify Assisted-by trailer applies to PR summaries too
  AGENTS.md
Labels: none
