Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2020-12, with the labels that each got.

#183 expand Elixir trace API
  .github/workflows/erlang.yml
  apps/opentelemetry/src/otel_tracer_default.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry_api/lib/open_telemetry/tracer.ex
  apps/opentelemetry_api/src/otel_tracer.erl
  apps/opentelemetry_api/src/otel_tracer_noop.erl
  apps/opentelemetry_api/test/open_telemetry_test.exs
  apps/opentelemetry_api/test/opentelemetry_api_SUITE.erl
  test/otel_tests.exs
Labels: language-elixir, language-erlang, scope-api, scope-ci, scope-sdk

#190 add resource detection behaviour and configuration
  apps/opentelemetry/src/opentelemetry.app.src
  apps/opentelemetry/src/opentelemetry_sup.erl
  apps/opentelemetry/src/otel_resource_app_env.erl
  apps/opentelemetry/src/otel_resource_detector.erl
  apps/opentelemetry/src/otel_resource_env_var.erl
  apps/opentelemetry/src/otel_tracer_server.erl
  apps/opentelemetry/test/otel_resource_SUITE.erl
  apps/opentelemetry/test/otel_resource_detector_test.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-erlang, scope-sdk

#175 Lowercase atom
  apps/opentelemetry/include/otel_span.hrl
  apps/opentelemetry_api/include/opentelemetry.hrl
  apps/opentelemetry_api/lib/open_telemetry.ex
  apps/opentelemetry_api/lib/open_telemetry/span.ex
  apps/opentelemetry_api/lib/open_telemetry/tracer.ex
Labels: language-elixir, language-erlang, scope-api, scope-sdk
