Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2020-10, with the labels that each got.

#115 remove context modification in start and end_span
  apps/opentelemetry/src/otel_propagator_http_b3.erl
  apps/opentelemetry/src/otel_propagator_http_w3c.erl
  apps/opentelemetry/src/otel_tracer.hrl
  apps/opentelemetry/src/otel_tracer_default.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry/test/otel_sweeper_SUITE.erl
  apps/opentelemetry_api/include/otel_tracer.hrl
  apps/opentelemetry_api/lib/open_telemetry/tracer.ex
  apps/opentelemetry_api/src/otel_baggage.erl
  apps/opentelemetry_api/src/otel_ctx.erl
  apps/opentelemetry_api/src/otel_tracer.erl
  apps/opentelemetry_api/src/otel_tracer_noop.erl
  apps/opentelemetry_api/test/open_telemetry_test.exs
  apps/opentelemetry_api/test/opentelemetry_api_SUITE.erl
Labels: language-elixir, language-erlang, scope-api, scope-sdk

#121 add Elixir modules for baggage and context
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry_api/lib/open_telemetry/baggage.ex
  apps/opentelemetry_api/lib/open_telemetry/ctx.ex
  apps/opentelemetry_api/src/otel_baggage.erl
  apps/opentelemetry_api/src/otel_ctx.erl
  apps/opentelemetry_api/test/open_telemetry_test.exs
Labels: language-elixir, language-erlang, scope-api, scope-sdk

#126 remove Tracer argument when not used and add span ops to otel_span
  .github/workflows/elixir.yml
  apps/opentelemetry/include/otel_span.hrl
  apps/opentelemetry/src/otel_span_ets.erl
  apps/opentelemetry/src/otel_span_ets.hrl
  apps/opentelemetry/src/otel_tracer.hrl
  apps/opentelemetry/src/otel_tracer_default.erl
  apps/opentelemetry/src/otel_tracer_server.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry_api/README.md
  apps/opentelemetry_api/include/opentelemetry.hrl
  apps/opentelemetry_api/include/otel_tracer.hrl
  apps/opentelemetry_api/lib/open_telemetry.ex
  apps/opentelemetry_api/lib/open_telemetry/span.ex
  apps/opentelemetry_api/lib/open_telemetry/tracer.ex
  apps/opentelemetry_api/src/otel_span.erl
  apps/opentelemetry_api/src/otel_tracer.erl
  apps/opentelemetry_api/src/otel_tracer_noop.erl
  apps/opentelemetry_api/test/open_telemetry_test.exs
  apps/opentelemetry_api/test/opentelemetry_api_SUITE.erl
  docker-compose.yml
  mix.exs
  test/otel_tests.exs
  test/test_helper.exs
Labels: language-elixir, language-erlang, scope-api, scope-ci, scope-sdk

#127 update samplers to latest spec: parent_based & trace_id_ratio_based
  apps/opentelemetry/src/otel_sampler.erl
  apps/opentelemetry/test/otel_samplers_SUITE.erl
Labels: language-erlang, scope-sdk

#129 add get_description to sampler and support for updating tracestate in sampler
  apps/opentelemetry/src/otel_sampler.erl
  apps/opentelemetry/src/otel_span_utils.erl
  apps/opentelemetry/test/otel_samplers_SUITE.erl
Labels: language-erlang, scope-sdk

#131 set and test the default sampler
  apps/opentelemetry/src/opentelemetry.app.src
  apps/opentelemetry/src/otel_tracer_server.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry/test/otel_batch_processor_SUITE.erl
Labels: language-erlang, scope-sdk

#133 OTEL_RESOURCE_(LABELS -> ATTRIBUTES)
  apps/opentelemetry/src/otel_resource_env_var.erl
  apps/opentelemetry/test/otel_resource_SUITE.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-erlang, scope-sdk
