Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2020-09, with the labels that each got.

#103 Automatically label PRs depending on the changes
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: enhancement, scope-ci

#101 Fix Dialyzer issues
  apps/opentelemetry_api/.dialyzer_ignore.exs
  apps/opentelemetry_api/.github/workflows/main.yml
  apps/opentelemetry_api/lib/open_telemetry.ex
  apps/opentelemetry_api/lib/open_telemetry/span.ex
  apps/opentelemetry_api/lib/open_telemetry/tracer.ex
  apps/opentelemetry_api/mix.exs
  apps/opentelemetry_api/mix.lock
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/ot_ctx.erl
  apps/opentelemetry_api/src/ot_meter.erl
  apps/opentelemetry_api/src/ot_observer.erl
  apps/opentelemetry_api/src/ot_tracer.erl
Labels: scope-api

#105 Update event name specs
  apps/opentelemetry_api/lib/open_telemetry.ex
  apps/opentelemetry_api/lib/open_telemetry/span.ex
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/ot_span.erl
Labels: language-elixir, language-erlang, scope-api

#110 support user defined text_map propagators
  apps/opentelemetry/src/opentelemetry.app.src
  apps/opentelemetry/src/opentelemetry_app.erl
  apps/opentelemetry/src/otel_propagator_http_b3.erl
  apps/opentelemetry/src/otel_propagator_http_w3c.erl
  apps/opentelemetry/src/otel_tracer_default.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/otel_baggage.erl
  apps/opentelemetry_api/src/otel_ctx.erl
  apps/opentelemetry_api/src/otel_propagation.erl
  apps/opentelemetry_api/src/otel_propagator.erl
  apps/opentelemetry_api/test/custom_propagator.erl
  apps/opentelemetry_api/test/otel_propagators_SUITE.erl
Labels: language-erlang, scope-api, scope-sdk
