Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2020-11, with the labels that each got.

#134 update sampler to take a context and update some names to match spec
  apps/opentelemetry/include/otel_sampler.hrl
  apps/opentelemetry/include/otel_span.hrl
  apps/opentelemetry/src/otel_batch_processor.erl
  apps/opentelemetry/src/otel_propagator_http_b3.erl
  apps/opentelemetry/src/otel_propagator_http_w3c.erl
  apps/opentelemetry/src/otel_sampler.erl
  apps/opentelemetry/src/otel_span_ets.erl
  apps/opentelemetry/src/otel_span_utils.erl
  apps/opentelemetry/src/otel_tracer_default.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry/test/otel_samplers_SUITE.erl
  apps/opentelemetry/test/static_sampler.erl
  apps/opentelemetry_api/include/opentelemetry.hrl
  apps/opentelemetry_api/src/otel_tracer.erl
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
Labels: language-erlang, scope-api, scope-sdk

#137 set is_recording to false when span is ended
  apps/opentelemetry/src/otel_span_ets.erl
  apps/opentelemetry_api/include/otel_tracer.hrl
  apps/opentelemetry_api/lib/open_telemetry/span.ex
  apps/opentelemetry_api/lib/open_telemetry/tracer.ex
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/otel_span.erl
  apps/opentelemetry_api/src/otel_tracer.erl
  apps/opentelemetry_api/test/opentelemetry_api_SUITE.erl
  test/otel_tests.exs
Labels: language-elixir, language-erlang, scope-api, scope-sdk

#143 move propagators to the api
  apps/opentelemetry_api/src/otel_propagator_http_b3.erl
  apps/opentelemetry_api/src/otel_propagator_http_w3c.erl
Labels: language-erlang, scope-api

#145 fix add_event macro to call otel_span:add_event/3
  apps/opentelemetry_api/include/otel_tracer.hrl
  apps/opentelemetry_api/test/opentelemetry_api_SUITE.erl
Labels: language-erlang, scope-api

#146 Add rebar dep
  README.md
  apps/opentelemetry/rebar.config
  apps/opentelemetry_exporter/rebar.config
  mix.exs
Labels: language-erlang, scope-sdk

#148 Bump API to 0.5.0 and fix otel_instrument to work with edoc
  apps/opentelemetry_api/VERSION
  apps/opentelemetry_api/src/otel_instrument.erl
Labels: language-erlang, scope-api

#150 exdoc and edoc fixes
  apps/opentelemetry_api/mix.exs
  apps/opentelemetry_api/mix.lock
  apps/opentelemetry_api/src/otel_ctx.erl
Labels: language-elixir, language-erlang, scope-api

#151 copy license to all sub-apps for including in hex packages
  apps/opentelemetry/LICENSE
  apps/opentelemetry_api/LICENSE
  apps/opentelemetry_api/mix.exs
  apps/opentelemetry_exporter/LICENSE
Labels: language-elixir, scope-api, scope-sdk

#152 Final fixups for 0.5.0
  .gitignore
  apps/opentelemetry_api/mix.exs
  apps/opentelemetry_exporter/src/opentelemetry_exporter.app.src
  pr2relnotes.sh
Labels: language-elixir, scope-api

#153 pass parent span context along when no sdk is used
  apps/opentelemetry_api/include/opentelemetry.hrl
  apps/opentelemetry_api/lib/open_telemetry/span.ex
  apps/opentelemetry_api/src/otel_span.erl
  apps/opentelemetry_api/src/otel_tracer_noop.erl
  apps/opentelemetry_api/test/otel_propagators_SUITE.erl
Labels: language-elixir, language-erlang, scope-api

#157 bind needs to return {{key, labels}, instrument}
  apps/opentelemetry/src/otel_meter_default.erl
Labels: language-erlang, scope-sdk

#158 Line up observe callback specs
  apps/opentelemetry_api/src/otel_observer.erl
  apps/opentelemetry_api/src/otel_sum_observer.erl
  apps/opentelemetry_api/src/otel_updown_sum_observer.erl
  apps/opentelemetry_api/src/otel_value_observer.erl
Labels: language-erlang, scope-api

#159 Fill out aggregator/instrument kind mapping
  apps/opentelemetry/src/otel_metric_accumulator.erl
Labels: language-erlang, scope-sdk

#161 add test of bound counter
  apps/opentelemetry/test/otel_metric_SUITE.erl
Labels: language-erlang, metrics, scope-sdk

#177 use elixir formatter
  .formatter.exs
  .github/workflows/elixir.yml
  apps/opentelemetry_api/.formatter.exs
  apps/opentelemetry_api/lib/open_telemetry/counter.ex
  apps/opentelemetry_api/lib/open_telemetry/span.ex
  apps/opentelemetry_api/lib/open_telemetry/updown_counter.ex
  apps/opentelemetry_api/lib/open_telemetry/updown_sum_observer.ex
  apps/opentelemetry_api/mix.exs
  apps/opentelemetry_api/test/open_telemetry_test.exs
  mix.exs
  test/otel_tests.exs
  test/test_helper.exs
Labels: language-elixir, scope-api, scope-ci
