Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2021-06, with the labels that each got.

#254 Upgrade Elixir and OTP in GitHub Workflow
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
Labels: scope-ci

#253 Remove unused header in otel_span_ets
  apps/opentelemetry/src/otel_span_ets.erl
Labels: language-erlang, scope-sdk

#255 Be more specific on grpcbox dependency
  apps/opentelemetry_exporter/rebar.config
Labels: language-erlang
