Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2021-02, with the labels that each got.

#197 support an undefined TraceState when creating a link
  apps/opentelemetry_api/src/opentelemetry.erl
  test/otel_tests.exs
Labels: language-erlang, scope-api

#198 exporter: fix trace_state encoding in links
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
Labels: language-erlang

#199 otel_tracer: fix with_span/5 type spec
  apps/opentelemetry_api/src/otel_tracer.erl
Labels: language-erlang, scope-api

#193 handle grpcbox failure in exporter and fallback to http
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  rebar.lock
Labels: language-erlang

#138 Add RecordException to Elixir's Span module
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry_api/lib/open_telemetry/span.ex
  apps/opentelemetry_api/src/otel_span.erl
  test/otel_tests.exs
Labels: language-elixir, language-erlang, scope-api, scope-sdk

#201 bump api VERSION to 0.6.0
  apps/opentelemetry_api/VERSION
Labels: scope-api

#203 Update version in README for the api bump to 0.6.0
  apps/opentelemetry_api/README.md
Labels: scope-api

#205 Fix `set_current_span` spec
  apps/opentelemetry_api/src/otel_tracer.erl
Labels: language-erlang, scope-api

#206 exporter: support for endpoint and header configuration
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-erlang, scope-sdk

#207 support OS environment variables for setting tracer to OTLP
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
  apps/opentelemetry/src/opentelemetry_sup.erl
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/test/otel_configuration_SUITE.erl
  test/test_helper.exs
Labels: language-erlang, scope-ci, scope-sdk

#208 add service.name fallback and process resource attributes
  apps/opentelemetry/include/otel_resource.hrl
  apps/opentelemetry/src/otel_resource_detector.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry/test/otel_resource_SUITE.erl
  apps/opentelemetry/test/otel_test_utils.hrl
Labels: language-erlang, scope-sdk

#210 add load of exporter app in configuration and comment on why
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
Labels: language-erlang

#211 fix unknown type spec references
  apps/opentelemetry/src/otel_meter.hrl
  apps/opentelemetry/src/otel_metric_aggregator.erl
  apps/opentelemetry/src/otel_metric_aggregator_array.erl
  apps/opentelemetry/src/otel_metric_aggregator_last_value.erl
  apps/opentelemetry/src/otel_metric_aggregator_mmsc.erl
  apps/opentelemetry/src/otel_metric_aggregator_sum.erl
  apps/opentelemetry/src/otel_resource_detector.erl
  apps/opentelemetry/src/otel_sampler.erl
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  rebar.config
Labels: language-erlang, scope-sdk

#212 endpoint parsing exporter fixes and small cleanup in tracer
  apps/opentelemetry/src/otel_tracer_default.erl
  apps/opentelemetry_api/include/otel_tracer.hrl
  apps/opentelemetry_api/src/otel_ctx.erl
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-erlang, scope-api, scope-sdk

#213 support path on traces endpoints
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-erlang
