Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2021-12, with the labels that each got.

#316 tracers: store startup created tracers the same way as user created
  CHANGELOG.md
  apps/opentelemetry/src/opentelemetry_app.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry_api/src/opentelemetry.erl
Labels: language-erlang, scope-api, scope-sdk

#327 Configuration improvements and span limit settings
  apps/opentelemetry/include/otel_span.hrl
  apps/opentelemetry/src/opentelemetry_app.erl
  apps/opentelemetry/src/opentelemetry_sup.erl
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/src/otel_resource_detector.erl
  apps/opentelemetry/src/otel_span_limits.erl
  apps/opentelemetry/src/otel_span_sup.erl
  apps/opentelemetry/src/otel_tracer_server.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry/test/otel_configuration_SUITE.erl
  apps/opentelemetry_experimental/src/otel_meter_server.erl
  apps/opentelemetry_experimental/src/otel_metric_exporter.erl
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
Labels: language-erlang, scope-sdk

#328 move the rest of application env vars to configuration map
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/src/otel_resource_detector.erl
  apps/opentelemetry/src/otel_span_sup.erl
  apps/opentelemetry/src/otel_span_sweeper.erl
  apps/opentelemetry/src/otel_tracer_server.erl
  apps/opentelemetry/test/otel_resource_SUITE.erl
Labels: language-erlang, scope-sdk

#329 Support limits on attributes, links and events
  CHANGELOG.md
  apps/opentelemetry/include/otel_resource.hrl
  apps/opentelemetry/include/otel_span.hrl
  apps/opentelemetry/src/otel_attributes.erl
  apps/opentelemetry/src/otel_events.erl
  apps/opentelemetry/src/otel_links.erl
  apps/opentelemetry/src/otel_resource.erl
  apps/opentelemetry/src/otel_resource_detector.erl
  apps/opentelemetry/src/otel_sampler.erl
  apps/opentelemetry/src/otel_span_ets.erl
  apps/opentelemetry/src/otel_span_limits.erl
  apps/opentelemetry/src/otel_span_sweeper.erl
  apps/opentelemetry/src/otel_span_utils.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry/test/otel_resource_SUITE.erl
  apps/opentelemetry/test/otel_sweeper_SUITE.erl
  apps/opentelemetry_api/include/opentelemetry.hrl
  apps/opentelemetry_api/lib/open_telemetry.ex
  apps/opentelemetry_api/lib/open_telemetry/span.ex
  apps/opentelemetry_api/lib/open_telemetry/tracer.ex
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/otel_span.erl
  apps/opentelemetry_api/src/otel_tracer_noop.erl
  apps/opentelemetry_api/test/open_telemetry_test.exs
  apps/opentelemetry_api/test/opentelemetry_api_SUITE.erl
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
  test/otel_tests.exs
Labels: language-elixir, language-erlang, scope-api, scope-sdk

#325 move zipkin exporter to main repo
  apps/opentelemetry_api/README.md
  apps/opentelemetry_exporter/README.md
  apps/opentelemetry_zipkin/LICENSE
  apps/opentelemetry_zipkin/README.md
  apps/opentelemetry_zipkin/proto/zipkin.proto
  apps/opentelemetry_zipkin/rebar.config
  apps/opentelemetry_zipkin/src/opentelemetry_zipkin.app.src
  apps/opentelemetry_zipkin/src/opentelemetry_zipkin.erl
  apps/opentelemetry_zipkin/src/opentelemetry_zipkin_pb.erl
  apps/opentelemetry_zipkin/src/opentelemetry_zipkin_pb.hrl
  apps/opentelemetry_zipkin/test/opentelemetry_zipkin_SUITE.erl
Labels: language-erlang, scope-api

#306 Add gzip compression option for exporter
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-erlang

#331 Support for Schema URLs on the Resource and Tracer (Instrumentation Library)
  CHANGELOG.md
  apps/opentelemetry/include/otel_resource.hrl
  apps/opentelemetry/src/opentelemetry_app.erl
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/src/otel_resource.erl
  apps/opentelemetry/src/otel_resource_app_env.erl
  apps/opentelemetry/src/otel_resource_detector.erl
  apps/opentelemetry/src/otel_tracer_default.erl
  apps/opentelemetry/src/otel_tracer_server.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry/test/otel_configuration_SUITE.erl
  apps/opentelemetry/test/otel_resource_SUITE.erl
  apps/opentelemetry_api/include/opentelemetry.hrl
  apps/opentelemetry_api/include/otel_tracer.hrl
  apps/opentelemetry_api/lib/open_telemetry.ex
  apps/opentelemetry_api/lib/open_telemetry/tracer.ex
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/otel_tracer_provider.erl
  apps/opentelemetry_experimental/src/otel_meter_server.erl
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
  test/otel_tests.exs
Labels: language-elixir, language-erlang, scope-api, scope-sdk

#332 Remaining validations
  CHANGELOG.md
  apps/opentelemetry/src/otel_attributes.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry_api/lib/open_telemetry.ex
  apps/opentelemetry_api/lib/open_telemetry/span.ex
  apps/opentelemetry_api/lib/open_telemetry/tracer.ex
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/otel_span.erl
  apps/opentelemetry_api/src/otel_tracer.erl
  apps/opentelemetry_api/src/otel_tracer_noop.erl
  apps/opentelemetry_api/test/open_telemetry_test.exs
  apps/opentelemetry_api/test/opentelemetry_api_SUITE.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-elixir, language-erlang, scope-api, scope-sdk

#333 bump version to 1.0.0-rc.4
  CHANGELOG.md
  apps/opentelemetry/rebar.config
  apps/opentelemetry_api/VERSION
  apps/opentelemetry_api/src/opentelemetry_api.app.src
  apps/opentelemetry_exporter/src/opentelemetry_exporter.app.src
  apps/opentelemetry_zipkin/rebar.config
  docs.sh
Labels: language-erlang, scope-api, scope-sdk

#334 post rc.4 cleanup
  README.md
  apps/opentelemetry_api/lib/open_telemetry.ex
  apps/opentelemetry_api/mix.exs
  apps/opentelemetry_api/src/otel_tracer.erl
  apps/opentelemetry_exporter/README.md
  apps/opentelemetry_exporter/rebar.config
Labels: language-elixir, language-erlang, scope-api

#335 events: accept map for attributes on an event
  CHANGELOG.md
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry_api/src/opentelemetry_api.app.src
  apps/opentelemetry_api/src/otel_span.erl
Labels: language-erlang, scope-api, scope-sdk

#336 elixir span docs: fix reference to attributes type
  apps/opentelemetry_api/lib/open_telemetry.ex
  apps/opentelemetry_api/lib/open_telemetry/span.ex
  apps/opentelemetry_api/lib/open_telemetry/tracer.ex
Labels: language-elixir, scope-api

#338 Exporter boot
  README.md
  apps/opentelemetry/src/otel_batch_processor.erl
  apps/opentelemetry/src/otel_exporter.erl
  apps/opentelemetry/src/otel_simple_processor.erl
Labels: language-erlang, scope-sdk

#337 update codecov action and add zipkin/experimental coverage
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
Labels: scope-ci
