Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2021-10, with the labels that each got.

#285 Drop website_docs and docs_update workflow
  .github/workflows/docs_update.yml
  website_docs/_index.md
  website_docs/getting-started.md
  website_docs/instrumentation.md
Labels: scope-ci

#284 remove unneeded current span functions from otel_tracer
  apps/opentelemetry_api/include/otel_tracer.hrl
  apps/opentelemetry_api/lib/open_telemetry/tracer.ex
  apps/opentelemetry_api/src/otel_tracer.erl
Labels: language-elixir, language-erlang, scope-api

#258 improve exporter failure logs and include stacktrace
  apps/opentelemetry/src/otel_batch_processor.erl
Labels: language-erlang, scope-sdk

#291 bump api version to 1.0.0-rc.3.2
  CHANGELOG.md
  apps/opentelemetry_api/VERSION
Labels: scope-api

#292 improve exporter module documentation and readme
  apps/opentelemetry_exporter/README.md
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
Labels: language-erlang

#302 add support for OTEL_SERVICE_NAME environment variable
  apps/opentelemetry/src/otel_resource_detector.erl
  apps/opentelemetry/test/otel_resource_SUITE.erl
  apps/opentelemetry_api/src/otel_tracer_provider.erl
Labels: language-erlang, scope-api, scope-sdk
