Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2021-05, with the labels that each got.

#244 API: bump RC version to 1.0.0-rc.2
  apps/opentelemetry_api/VERSION
Labels: scope-api

#245 couple things I caught while starting to publish RC2
  apps/opentelemetry/rebar.config
  apps/opentelemetry_api/lib/open_telemetry/ctx.ex
  apps/opentelemetry_api/lib/open_telemetry/tracer.ex
Labels: language-elixir, language-erlang, scope-api, scope-sdk

#250 Remove the OTLP receiver legacy gRPC port(55680) references
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
  config/otel-collector-config.yaml
  docker-compose.yml
Labels: language-erlang

#252 add github action for sending updated docs to otel.io repo
  .github/workflows/docs_update.yml
Labels: scope-ci
