Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2021-09, with the labels that each got.

#270 Expose trace IDs in hex format
  apps/opentelemetry_api/lib/open_telemetry/span.ex
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/otel_span.erl
  apps/opentelemetry_api/test/open_telemetry_test.exs
  apps/opentelemetry_api/test/opentelemetry_api_SUITE.erl
Labels: language-elixir, language-erlang, scope-api

#272 Add b3multi option to OTEL_PROPAGATORS
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/test/otel_configuration_SUITE.erl
Labels: language-erlang, scope-sdk

#273 Update propagators with composite
  CHANGELOG.md
  apps/opentelemetry/include/otel_span.hrl
  apps/opentelemetry/src/opentelemetry.app.src
  apps/opentelemetry/src/opentelemetry_app.erl
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/src/otel_tracer_default.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry/test/otel_configuration_SUITE.erl
  apps/opentelemetry/test/otel_propagation_SUITE.erl
  apps/opentelemetry_api/include/opentelemetry.hrl
  apps/opentelemetry_api/lib/open_telemetry/baggage.ex
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/otel_baggage.erl
  apps/opentelemetry_api/src/otel_propagator.erl
  apps/opentelemetry_api/src/otel_propagator_b3multi.erl
  apps/opentelemetry_api/src/otel_propagator_baggage.erl
  apps/opentelemetry_api/src/otel_propagator_http_b3.erl
  apps/opentelemetry_api/src/otel_propagator_text_map.erl
  apps/opentelemetry_api/src/otel_propagator_text_map_composite.erl
  apps/opentelemetry_api/src/otel_propagator_text_map_noop.erl
  apps/opentelemetry_api/src/otel_propagator_trace_context.erl
  apps/opentelemetry_api/src/otel_span.erl
  apps/opentelemetry_api/src/otel_tracer.erl
  apps/opentelemetry_api/test/custom_propagator.erl
  apps/opentelemetry_api/test/otel_propagators_SUITE.erl
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  website_docs/instrumentation.md
Labels: language-elixir, language-erlang, scope-api, scope-sdk

#268 Generate docs with ExDoc
  VERSIONING.md
  apps/opentelemetry/src/opentelemetry.app.src
  apps/opentelemetry_exporter/docs.config
  apps/opentelemetry_exporter/rebar.config
  apps/opentelemetry_exporter/src/opentelemetry_exporter.app.src
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  docs.config
  docs.sh
  rebar.config
Labels: language-erlang, scope-sdk
