Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2021-03, with the labels that each got.

#221 fix tracer configuration merging
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
  apps/opentelemetry/src/opentelemetry_sup.erl
  apps/opentelemetry/src/otel_batch_processor.erl
  apps/opentelemetry/src/otel_configuration.erl
Labels: language-erlang, scope-ci, scope-sdk

#227 Upgrade dev dependencies past retired version.
  apps/opentelemetry_api/mix.lock
Labels: scope-api

#226 upgrade grpcbox and log errors returned during export
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  rebar.lock
Labels: language-erlang

#232 Fix bug preventing configuring span processors
  apps/opentelemetry/src/otel_configuration.erl
Labels: language-erlang, scope-sdk

#228 Permit keyword list start_opts in Tracer macros.
  apps/opentelemetry_api/lib/open_telemetry/tracer.ex
  apps/opentelemetry_api/test/open_telemetry_test.exs
Labels: language-elixir, scope-api

#230 Finish renaming reporters to exporters.
  apps/opentelemetry/src/otel_exporter_pid.erl
  apps/opentelemetry/src/otel_exporter_stdout.erl
  apps/opentelemetry/src/otel_span_ets.erl
Labels: language-erlang, scope-sdk
