Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2021-11, with the labels that each got.

#303 use get_application_tracer in Elixir macros
  apps/opentelemetry_api/lib/open_telemetry/tracer.ex
Labels: language-elixir, scope-api

#307 skip exporting if batch table is empty
  apps/opentelemetry/src/otel_batch_processor.erl
Labels: language-erlang, scope-sdk

#308 batch_processor: go to idle state after export timeout
  apps/opentelemetry/src/otel_batch_processor.erl
Labels: language-erlang, scope-sdk

#309 fix: Removes macro that references missing function
  apps/opentelemetry_api/include/otel_tracer.hrl
Labels: language-erlang, scope-api

#310 make trace/span id generation customizable
  .github/workflows/erlang.yml
  apps/opentelemetry/src/otel_id_generator.erl
  apps/opentelemetry/src/otel_span_ets.erl
  apps/opentelemetry/src/otel_span_utils.erl
  apps/opentelemetry/src/otel_tracer.hrl
  apps/opentelemetry/src/otel_tracer_default.erl
  apps/opentelemetry/src/otel_tracer_server.erl
  apps/opentelemetry/test/otel_samplers_SUITE.erl
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/otel_tracer_noop.erl
  apps/opentelemetry_api/test/otel_propagators_SUITE.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
  docker-compose.yml
Labels: language-erlang, scope-api, scope-sdk, scope-ci

#294 add ssl options support to httpc exporter
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
  apps/opentelemetry_exporter/README.md
  apps/opentelemetry_exporter/rebar.config
  apps/opentelemetry_exporter/src/opentelemetry_exporter.app.src
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
  rebar.lock
Labels: language-erlang, scope-ci

#313 Fix typos
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/src/otel_resource_detector.erl
  apps/opentelemetry_api/src/otel_propagator.erl
  apps/opentelemetry_experimental/src/otel_metric_accumulator.erl
  apps/opentelemetry_exporter/README.md
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
Labels: language-erlang, scope-api, scope-sdk

#315 Fix docs local_parent_not_sampled
  apps/opentelemetry/src/otel_sampler_parent_based.erl
Labels: language-erlang, scope-sdk
