Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2021-08, with the labels that each got.

#260 Introduce otel_sampler:new/3 and fix behavior typespec
  apps/opentelemetry/src/otel_sampler.erl
  apps/opentelemetry/test/static_sampler.erl
Labels: language-erlang, scope-sdk

#265 use new api function from_remote_span for propagated span context
  apps/opentelemetry_api/include/opentelemetry.hrl
  apps/opentelemetry_api/src/otel_propagator_http_b3.erl
  apps/opentelemetry_api/src/otel_propagator_http_w3c.erl
  apps/opentelemetry_api/src/otel_tracer.erl
  apps/opentelemetry_api/test/otel_propagators_SUITE.erl
Labels: language-erlang, scope-api

#266 User defined ssl options in grpc endpoints
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-erlang

#261 Refactor otel_sampler to use callbacks for setup, should_sample, and decription
  apps/opentelemetry/src/opentelemetry.app.src
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/src/otel_sampler.erl
  apps/opentelemetry/src/otel_sampler_always_off.erl
  apps/opentelemetry/src/otel_sampler_always_on.erl
  apps/opentelemetry/src/otel_sampler_parent_based.erl
  apps/opentelemetry/src/otel_sampler_trace_id_ratio_based.erl
  apps/opentelemetry/src/otel_span_utils.erl
  apps/opentelemetry/src/otel_tracer.hrl
  apps/opentelemetry/src/otel_tracer_server.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry/test/otel_configuration_SUITE.erl
  apps/opentelemetry/test/otel_samplers_SUITE.erl
  apps/opentelemetry/test/static_sampler.erl
  apps/opentelemetry_api/src/otel_span.erl
  test/otel_tests.exs
Labels: language-erlang, scope-api, scope-sdk

#267 Do not insert non-recording spans in ETS
  apps/opentelemetry/src/otel_span_ets.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
Labels: language-erlang, scope-sdk

#263 Fix root span sampling
  apps/opentelemetry/src/otel_span_utils.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
Labels: language-erlang, scope-sdk
