Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2022-03, with the labels that each got.

#374 Update README.md
  apps/opentelemetry/README.md
Labels: scope-sdk

#376 otlp exporter: fix handling of binary string endpoint
  CHANGELOG.md
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-erlang

#373 Minor fix for example on otel_propragator_text_map example
  apps/opentelemetry_api/src/otel_propagator_text_map.erl
Labels: language-erlang, scope-api

#378 set default endpoint path to the default path for traces /v1/traces
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-erlang
