Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2022-08, with the labels that each got.

#414 remove resource field from tracer record
  apps/opentelemetry/src/otel_tracer.hrl
  apps/opentelemetry/src/otel_tracer_server.erl
  apps/opentelemetry/test/otel_resource_SUITE.erl
Labels: language-erlang, scope-sdk

#409 Add service.instance.id resource default value
  apps/opentelemetry/src/otel_resource_detector.erl
  apps/opentelemetry/test/otel_resource_SUITE.erl
Labels: language-erlang, scope-sdk

#410 add record_exception/1 to OpenTelemetry.Tracer
  apps/opentelemetry_api/include/otel_tracer.hrl
  apps/opentelemetry_api/lib/open_telemetry/tracer.ex
Labels: language-elixir, language-erlang, scope-api

#431 move readers under metrics supervisor and require registered reader
  apps/opentelemetry/src/opentelemetry_sup.erl
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry_experimental/src/opentelemetry_experimental_sup.erl
  apps/opentelemetry_experimental/src/otel_meter_server.erl
  apps/opentelemetry_experimental/src/otel_metric_exporter_pid.erl
  apps/opentelemetry_experimental/src/otel_metric_reader.erl
  apps/opentelemetry_experimental/src/otel_metric_reader_sup.erl
  apps/opentelemetry_experimental/src/otel_metrics_sup.erl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
  apps/opentelemetry_experimental/test/otel_test_utils.hrl
Labels: language-erlang, scope-sdk

#432 make resource instance name tests run
  apps/opentelemetry/src/otel_resource_detector.erl
  apps/opentelemetry/test/otel_resource_SUITE.erl
Labels: language-erlang, scope-sdk

#434 only run tls_certificate_check if ssl options are needed
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
Labels: language-erlang

#435 add type arg to export and metrics protos
  apps/opentelemetry/src/otel_batch_processor.erl
  apps/opentelemetry/src/otel_exporter.erl
  apps/opentelemetry/src/otel_exporter_pid.erl
  apps/opentelemetry/src/otel_exporter_stdout.erl
  apps/opentelemetry/src/otel_exporter_tab.erl
  apps/opentelemetry/src/otel_simple_processor.erl
  apps/opentelemetry_exporter/rebar.config
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/src/opentelemetry_exporter_metrics_service_pb.erl
  apps/opentelemetry_exporter/src/opentelemetry_metrics_service.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
  rebar.config
Labels: language-erlang, scope-sdk

#439 Improve Sampler documentation
  apps/opentelemetry/README.md
Labels: scope-sdk

#444 bump versions of api, sdk and exporter to 1.1.0
  CHANGELOG.md
  apps/opentelemetry_api/src/opentelemetry_api.app.src
  apps/opentelemetry_exporter/src/opentelemetry_exporter.app.src
  docs.sh
Labels: scope-api
