Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2022-09, with the labels that each got.

#449 bump required api/sdk to 1.1 for new releases
  CHANGELOG.md
  apps/opentelemetry/rebar.config
  apps/opentelemetry_exporter/rebar.config
Labels: language-erlang, scope-sdk

#448 update zipkin exporter for new export api of export/4
  CHANGELOG.md
  apps/opentelemetry_zipkin/rebar.config
  apps/opentelemetry_zipkin/src/opentelemetry_zipkin.erl
  apps/opentelemetry_zipkin/test/opentelemetry_zipkin_SUITE.erl
Labels: language-erlang

#445 Use return of callback for measurements of observable instruments
  apps/opentelemetry/test/otel_resource_SUITE.erl
  apps/opentelemetry_api_experimental/include/otel_metrics.hrl
  apps/opentelemetry_api_experimental/src/otel_instrument.erl
  apps/opentelemetry_api_experimental/src/otel_meter.erl
  apps/opentelemetry_api_experimental/src/otel_meter_noop.erl
  apps/opentelemetry_experimental/src/otel_aggregation_last_value.erl
  apps/opentelemetry_experimental/src/otel_meter_default.erl
  apps/opentelemetry_experimental/src/otel_meter_server.erl
  apps/opentelemetry_experimental/src/otel_metric_exporter_pid.erl
  apps/opentelemetry_experimental/src/otel_metric_reader.erl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
  rebar.config
Labels: language-erlang, scope-sdk

#442 Exporter app env SSL options
  apps/opentelemetry_exporter/README.md
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-erlang

#457 replace telemetry_library record with library info as resource attributes
  apps/opentelemetry/include/otel_span.hrl
  apps/opentelemetry/src/otel_resource_detector.erl
  apps/opentelemetry/src/otel_tracer.hrl
  apps/opentelemetry/src/otel_tracer_server.erl
  apps/opentelemetry_experimental/src/otel_meter_server.erl
  apps/opentelemetry_experimental/src/otel_metrics.hrl
Labels: language-erlang, scope-sdk

#460 CI: add elixir 1.14 and remove 1.12
  .github/workflows/elixir.yml
Labels: scope-ci

#420 Fix OTLP Protocol allowed values
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-erlang, scope-sdk

#456 OTLP Metrics exporting
  apps/opentelemetry/src/otel_exporter.erl
  apps/opentelemetry_api_experimental/src/otel_meter.erl
  apps/opentelemetry_experimental/src/otel_meter_default.erl
  apps/opentelemetry_experimental/src/otel_meter_server.erl
  apps/opentelemetry_experimental/src/otel_metric_reader.erl
  apps/opentelemetry_experimental/src/otel_metrics.hrl
  apps/opentelemetry_experimental/src/otel_view.erl
  apps/opentelemetry_experimental/src/otel_view.hrl
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/src/otel_otlp_common.erl
  apps/opentelemetry_exporter/src/otel_otlp_metrics.erl
  apps/opentelemetry_exporter/src/otel_otlp_traces.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
  config/otel-collector-config.yaml
  docker-compose.yml
  rebar.lock
Labels: language-erlang, scope-sdk

#468 Logging Handler
  .github/workflows/erlang.yml
  .github/workflows/report.yml
  apps/opentelemetry/src/otel_batch_processor.erl
  apps/opentelemetry/src/otel_exporter.erl
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_experimental/src/otel_log_handler.erl
  apps/opentelemetry_exporter/rebar.config
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/src/opentelemetry_exporter_logs_service_pb.erl
  apps/opentelemetry_exporter/src/opentelemetry_exporter_metrics_service_pb.erl
  apps/opentelemetry_exporter/src/opentelemetry_exporter_trace_service_pb.erl
  apps/opentelemetry_exporter/src/opentelemetry_logs_service.erl
  apps/opentelemetry_exporter/src/otel_otlp_common.erl
  apps/opentelemetry_exporter/src/otel_otlp_logs.erl
  config/otel-collector-config.yaml
  rebar.config
Labels: language-erlang, scope-api, scope-sdk, scope-ci
