Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2022-12, with the labels that each got.

#503 Include aggregation options in aggregate callback
  apps/opentelemetry_api_experimental/src/otel_instrument.erl
  apps/opentelemetry_experimental/include/otel_metrics.hrl
  apps/opentelemetry_experimental/src/otel_aggregation.erl
  apps/opentelemetry_experimental/src/otel_aggregation_drop.erl
  apps/opentelemetry_experimental/src/otel_aggregation_histogram_explicit.erl
  apps/opentelemetry_experimental/src/otel_aggregation_last_value.erl
  apps/opentelemetry_experimental/src/otel_aggregation_sum.erl
  apps/opentelemetry_experimental/src/otel_meter_server.erl
  apps/opentelemetry_experimental/src/otel_metric_reader.erl
  apps/opentelemetry_experimental/src/otel_view.hrl
Labels: language-erlang

#505 bump api, sdk, exporter versions to beta releases
  apps/opentelemetry/rebar.config
  apps/opentelemetry_api/src/opentelemetry_api.app.src
  apps/opentelemetry_exporter/rebar.config
  apps/opentelemetry_exporter/src/opentelemetry_exporter.app.src
  docs.sh
Labels: language-erlang, scope-api, scope-sdk

#508 fix exporter dependency on api to 1.2.0-beta
  apps/opentelemetry_exporter/rebar.config
Labels: language-erlang

#511 Assign tracestate from sampler to new span
  apps/opentelemetry/src/otel_span_utils.erl
Labels: language-erlang, scope-sdk

#513 Preserve a tuple attribute value
  apps/opentelemetry_api/src/otel_span.erl
  apps/opentelemetry_api/test/opentelemetry_api_SUITE.erl
Labels: language-erlang, scope-api

#514 pass name, not instrument, in metric macros to record measurements
  apps/opentelemetry_api_experimental/include/otel_meter.hrl
  apps/opentelemetry_api_experimental/lib/open_telemetry/counter.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/histogram.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/updown_counter.ex
  apps/opentelemetry_api_experimental/src/otel_counter.erl
  apps/opentelemetry_api_experimental/src/otel_histogram.erl
  apps/opentelemetry_api_experimental/src/otel_meter.erl
  apps/opentelemetry_api_experimental/src/otel_updown_counter.erl
  apps/opentelemetry_experimental/src/otel_meter_default.erl
  apps/opentelemetry_experimental/src/otel_meter_server.erl
Labels: language-elixir, language-erlang

#520 skip export if spans is an empty list
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
  .github/workflows/w3c_interop.yml
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/src/otel_otlp_traces.erl
Labels: language-erlang, scope-ci

#525 use generated semantic conventions in SDK resource detection
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
  apps/opentelemetry/include/otel_resource.hrl
  apps/opentelemetry/rebar.config
  apps/opentelemetry/src/otel_resource.erl
  apps/opentelemetry/src/otel_resource_detector.erl
Labels: language-erlang, scope-sdk, scope-ci

#516 remove value_type from instruments
  apps/opentelemetry_api_experimental/include/otel_meter.hrl
  apps/opentelemetry_api_experimental/include/otel_metrics.hrl
  apps/opentelemetry_api_experimental/lib/open_telemetry/counter.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/histogram.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/observable_counter.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/observable_gauge.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/observable_updown_counter.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/updown_counter.ex
  apps/opentelemetry_api_experimental/rebar.config
  apps/opentelemetry_api_experimental/src/otel_counter.erl
  apps/opentelemetry_api_experimental/src/otel_histogram.erl
  apps/opentelemetry_api_experimental/src/otel_instrument.erl
  apps/opentelemetry_api_experimental/src/otel_meter.erl
  apps/opentelemetry_api_experimental/src/otel_meter_noop.erl
  apps/opentelemetry_api_experimental/src/otel_observable_counter.erl
  apps/opentelemetry_api_experimental/src/otel_observable_gauge.erl
  apps/opentelemetry_api_experimental/src/otel_observable_updowncounter.erl
  apps/opentelemetry_api_experimental/src/otel_updown_counter.erl
  apps/opentelemetry_api_experimental/test/otel_metrics_test.exs
  apps/opentelemetry_experimental/include/otel_metrics.hrl
  apps/opentelemetry_experimental/src/otel_aggregation.erl
  apps/opentelemetry_experimental/src/otel_aggregation_drop.erl
  apps/opentelemetry_experimental/src/otel_aggregation_histogram_explicit.erl
  apps/opentelemetry_experimental/src/otel_aggregation_last_value.erl
  apps/opentelemetry_experimental/src/otel_aggregation_sum.erl
  apps/opentelemetry_experimental/src/otel_meter_default.erl
  apps/opentelemetry_experimental/src/otel_meter_server.erl
  apps/opentelemetry_experimental/src/otel_metric_reader.erl
  apps/opentelemetry_experimental/src/otel_otlp_metrics.erl
  apps/opentelemetry_experimental/src/otel_view.hrl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-elixir, language-erlang

#526 don't checkpoint cumulative histogram
  apps/opentelemetry_experimental/src/otel_aggregation_histogram_explicit.erl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
  config/otel-collector-config.yaml
  docker-compose.yml
Labels: language-erlang

#527 bump api, sdk and exporter to 1.2.0 and 1.3.0 respectively
  apps/opentelemetry/rebar.config
  apps/opentelemetry_api/src/opentelemetry_api.app.src
  apps/opentelemetry_exporter/rebar.config
  apps/opentelemetry_exporter/src/opentelemetry_exporter.app.src
  docs.sh
Labels: language-erlang, scope-api, scope-sdk

#529 bump experimental apps to 0.2.0
  apps/opentelemetry_api_experimental/src/opentelemetry_api_experimental.app.src
  apps/opentelemetry_experimental/rebar.config
  apps/opentelemetry_experimental/src/opentelemetry_experimental.app.src
Labels: language-erlang
