Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2022-11, with the labels that each got.

#487 add semantic conventions app with Erlang macros defining keys
  apps/opentelemetry_semantic_conventions/.gitignore
  apps/opentelemetry_semantic_conventions/LICENSE
  apps/opentelemetry_semantic_conventions/README.md
  apps/opentelemetry_semantic_conventions/generate.sh
  apps/opentelemetry_semantic_conventions/include/logs.hrl
  apps/opentelemetry_semantic_conventions/include/resource.hrl
  apps/opentelemetry_semantic_conventions/include/trace.hrl
  apps/opentelemetry_semantic_conventions/rebar.config
  apps/opentelemetry_semantic_conventions/rebar.lock
  apps/opentelemetry_semantic_conventions/src/opentelemetry_semantic_conventions.app.src
  apps/opentelemetry_semantic_conventions/src/opentelemetry_semantic_conventions.erl
  apps/opentelemetry_semantic_conventions/templates/semantic_conventions.hrl.j2
Labels: language-erlang

#483 better support for multiple tracer providers and processors
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
  apps/opentelemetry/src/opentelemetry.app.src
  apps/opentelemetry/src/opentelemetry_app.erl
  apps/opentelemetry/src/opentelemetry_sup.erl
  apps/opentelemetry/src/otel_batch_processor.erl
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/src/otel_simple_processor.erl
  apps/opentelemetry/src/otel_span_processor.erl
  apps/opentelemetry/src/otel_span_processor_sup.erl
  apps/opentelemetry/src/otel_tracer_provider_sup.erl
  apps/opentelemetry/src/otel_tracer_server.erl
  apps/opentelemetry/src/otel_tracer_server_sup.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry/test/otel_batch_processor_SUITE.erl
  apps/opentelemetry/test/otel_propagation_SUITE.erl
  apps/opentelemetry/test/otel_sweeper_SUITE.erl
  apps/opentelemetry_api/include/opentelemetry.hrl
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/otel_tracer_provider.erl
  config/config.exs
  config/dev.exs
  config/test.exs
  test/otel_tests.exs
  test/test_helper.exs
Labels: language-erlang, scope-api, scope-sdk, scope-ci

#490 feat: add elixir semantic conventions
  apps/opentelemetry_semantic_conventions/.formatter.exs
  apps/opentelemetry_semantic_conventions/.gitignore
  apps/opentelemetry_semantic_conventions/README.md
  apps/opentelemetry_semantic_conventions/generate.sh
  apps/opentelemetry_semantic_conventions/include/logs.hrl
  apps/opentelemetry_semantic_conventions/lib/open_telemetry/semantic_conventions/logs.ex
  apps/opentelemetry_semantic_conventions/lib/open_telemetry/semantic_conventions/resource.ex
  apps/opentelemetry_semantic_conventions/lib/open_telemetry/semantic_conventions/trace.ex
  apps/opentelemetry_semantic_conventions/mix.exs
  apps/opentelemetry_semantic_conventions/mix.lock
  apps/opentelemetry_semantic_conventions/templates/semantic_conventions.ex.j2
  apps/opentelemetry_semantic_conventions/test/open_telemetry/semantic_conventions/logs_test.exs
  apps/opentelemetry_semantic_conventions/test/open_telemetry/semantic_conventions/resource_test.exs
  apps/opentelemetry_semantic_conventions/test/open_telemetry/semantic_conventions/trace_test.exs
  apps/opentelemetry_semantic_conventions/test/test_helper.exs
Labels: language-elixir, language-erlang

#495 fix the Erlang header file generated in semconv app
  apps/opentelemetry_semantic_conventions/include/logs.hrl
  apps/opentelemetry_semantic_conventions/include/resource.hrl
  apps/opentelemetry_semantic_conventions/include/trace.hrl
  apps/opentelemetry_semantic_conventions/src/opentelemetry_semantic_conventions.app.src
  apps/opentelemetry_semantic_conventions/src/opentelemetry_semantic_conventions.erl
  apps/opentelemetry_semantic_conventions/templates/semantic_conventions.hrl.j2
  docs.sh
Labels: language-erlang

#499 inefficient use of matchspec for view matching
  apps/opentelemetry_api/include/opentelemetry.hrl
  apps/opentelemetry_api_experimental/include/otel_metrics.hrl
  apps/opentelemetry_experimental/src/otel_view.erl
  apps/opentelemetry_experimental/src/otel_view.hrl
Labels: language-erlang, scope-api

#496 Metrics macro api
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api_experimental/.formatter.exs
  apps/opentelemetry_api_experimental/include/otel_meter.hrl
  apps/opentelemetry_api_experimental/lib/open_telemetry/counter.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/histogram.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/meter.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/observable_counter.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/observable_gauge.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/observable_updown_counter.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/updown_counter.ex
  apps/opentelemetry_api_experimental/lib/opentelemetry_api_experimental.ex
  apps/opentelemetry_api_experimental/mix.exs
  apps/opentelemetry_api_experimental/src/otel_counter.erl
  apps/opentelemetry_api_experimental/src/otel_histogram.erl
  apps/opentelemetry_api_experimental/src/otel_meter.erl
  apps/opentelemetry_api_experimental/src/otel_meter_noop.erl
  apps/opentelemetry_api_experimental/src/otel_meter_provider.erl
  apps/opentelemetry_api_experimental/src/otel_observable_counter.erl
  apps/opentelemetry_api_experimental/src/otel_observable_gauge.erl
  apps/opentelemetry_api_experimental/src/otel_observable_updowncounter.erl
  apps/opentelemetry_api_experimental/src/otel_updown_counter.erl
  apps/opentelemetry_api_experimental/test/otel_metrics_test.exs
  apps/opentelemetry_api_experimental/test/test_helper.exs
  apps/opentelemetry_experimental/include/otel_metrics.hrl
  apps/opentelemetry_experimental/src/otel_meter_default.erl
  apps/opentelemetry_experimental/src/otel_meter_server.erl
  apps/opentelemetry_experimental/src/otel_metric_reader.erl
  apps/opentelemetry_experimental/src/otel_view.erl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
Labels: language-elixir, language-erlang, scope-api

#502 Use the same ets tables for all Readers
  apps/opentelemetry/src/otel_tracer_server.erl
  apps/opentelemetry_api_experimental/mix.exs
  apps/opentelemetry_api_experimental/test/otel_metrics_test.exs
  apps/opentelemetry_experimental/include/otel_metrics.hrl
  apps/opentelemetry_experimental/src/otel_aggregation_drop.erl
  apps/opentelemetry_experimental/src/otel_aggregation_histogram_explicit.erl
  apps/opentelemetry_experimental/src/otel_aggregation_last_value.erl
  apps/opentelemetry_experimental/src/otel_aggregation_sum.erl
  apps/opentelemetry_experimental/src/otel_meter_default.erl
  apps/opentelemetry_experimental/src/otel_meter_server.erl
  apps/opentelemetry_experimental/src/otel_metric_reader.erl
  apps/opentelemetry_experimental/src/otel_metric_reader_sup.erl
  apps/opentelemetry_experimental/src/otel_view.hrl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
Labels: language-elixir, language-erlang, scope-sdk
