Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2022-02, with the labels that each got.

#348 use the default port of the scheme (http/https) instead of default OTLP port
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-erlang

#354 Fix bug related to event timestamp format.
  apps/opentelemetry/src/otel_events.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
  apps/opentelemetry_zipkin/test/opentelemetry_zipkin_SUITE.erl
Labels: language-erlang, scope-api, scope-sdk

#353 fix for links on a span and fix testing of span data
  apps/opentelemetry/src/otel_links.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
Labels: language-erlang, scope-sdk

#355 add report_cb to format log messages in composite propagator
  apps/opentelemetry_api/src/otel_propagator_text_map_composite.erl
  apps/opentelemetry_api/src/otel_utils.erl
Labels: language-erlang, scope-api

#356 bump versions of api, sdk and exporter to 1.0.1
  CHANGELOG.md
  apps/opentelemetry/rebar.config
  apps/opentelemetry_api/src/opentelemetry_api.app.src
  apps/opentelemetry_exporter/src/opentelemetry_exporter.app.src
  docs.sh
Labels: language-erlang, scope-api, scope-sdk

#357 simpler and flat configuration options
  apps/opentelemetry/src/opentelemetry.app.src
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/test/otel_configuration_SUITE.erl
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
Labels: language-erlang, scope-sdk

#352 Update documentation on configuring the exporter via a map
  apps/opentelemetry_exporter/README.md
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
Labels: language-erlang

#359 Build Erlang and Elixir docs for opentelemetry_api
  apps/opentelemetry_api/docs.config
  apps/opentelemetry_api/rebar.config
  docs.sh
Labels: language-erlang, scope-api

#360 Readme updates
  CHANGELOG.md
  apps/opentelemetry/README.md
  apps/opentelemetry/docs.config
  apps/opentelemetry_api/README.md
  apps/opentelemetry_api/docs.config
  apps/opentelemetry_api/mix.exs
  apps/opentelemetry_api/rebar.config
  apps/opentelemetry_exporter/README.md
  apps/opentelemetry_exporter/docs.config
  apps/opentelemetry_exporter/rebar.config
  docs.sh
  rebar.config
Labels: language-elixir, language-erlang, scope-api, scope-sdk

#363 improvements to zipkin exporter
  CHANGELOG.md
  apps/opentelemetry_zipkin/src/opentelemetry_zipkin.erl
  apps/opentelemetry_zipkin/test/opentelemetry_zipkin_SUITE.erl
  rebar.config
Labels: language-erlang

#362 Add docs for the tracing api macros to the readme
  .github/workflows/elixir.yml
  CHANGELOG.md
  README.md
  apps/opentelemetry/src/otel_span_ets.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
  apps/opentelemetry_api/README.md
  apps/opentelemetry_api/include/otel_tracer.hrl
  apps/opentelemetry_api/lib/open_telemetry.ex
  apps/opentelemetry_api/lib/open_telemetry/tracer.ex
  apps/opentelemetry_api/mix.exs
  apps/opentelemetry_api/mix.lock
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/otel_span.erl
  apps/opentelemetry_api/test/open_telemetry_test.exs
  apps/opentelemetry_api/test/opentelemetry_api_SUITE.erl
  test/test_helper.exs
Labels: language-elixir, language-erlang, scope-api, scope-sdk, scope-ci

#364 Bump 1.0.2
  CHANGELOG.md
  apps/opentelemetry_api/src/opentelemetry_api.app.src
  apps/opentelemetry_zipkin/docs.config
  apps/opentelemetry_zipkin/src/opentelemetry_zipkin.app.src
  docs.sh
Labels: scope-api

#365 fixup sdk and exporter doc generation
  CHANGELOG.md
  apps/opentelemetry/rebar.config
  apps/opentelemetry_api/README.md
  apps/opentelemetry_api/mix.exs
  apps/opentelemetry_exporter/src/opentelemetry_exporter.app.src
Labels: language-elixir, language-erlang, scope-api, scope-sdk
