Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2022-07, with the labels that each got.

#400 add documentation about samplers
  apps/opentelemetry/README.md
  apps/opentelemetry_api/README.md
Labels: scope-api, scope-sdk

#413 drop spans immediately if no exporter is configured
  CHANGELOG.md
  apps/opentelemetry/src/otel_batch_processor.erl
  apps/opentelemetry/src/otel_simple_processor.erl
  apps/opentelemetry/test/opentelemetry_SUITE.erl
Labels: language-erlang, scope-sdk

#415 Add traces_exporter: :none to documentation
  apps/opentelemetry/README.md
  apps/opentelemetry_exporter/README.md
Labels: scope-sdk
