Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2022-01, with the labels that each got.

#340 Fix exporting spans with links
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-erlang

#341 update and add exporter options
  CHANGELOG.md
  apps/opentelemetry_exporter/README.md
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
  config/otel-collector-config.yaml
  docker-compose.yml
Labels: language-erlang

#342 Cut 1.0.0
  CHANGELOG.md
  README.md
  apps/opentelemetry/rebar.config
  apps/opentelemetry_api/README.md
  apps/opentelemetry_api/src/opentelemetry_api.app.src
  apps/opentelemetry_exporter/README.md
  apps/opentelemetry_exporter/rebar.config
  apps/opentelemetry_exporter/src/opentelemetry_exporter.app.src
  apps/opentelemetry_zipkin/rebar.config
  docs.sh
Labels: language-erlang, scope-api, scope-sdk

#343 additional badges, fix w3c interop CI and correct the requirements
  .github/workflows/w3c_interop.yml
  README.md
Labels: scope-ci

#346 Tracestate: Keep last value for duplicate key
  .github/workflows/w3c_interop.yml
  apps/opentelemetry/src/otel_tracer.hrl
  apps/opentelemetry_api/lib/open_telemetry.ex
  apps/opentelemetry_api/src/otel_propagator_trace_context.erl
  apps/opentelemetry_api/test/otel_propagators_SUITE.erl
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
Labels: language-elixir, language-erlang, scope-api, scope-sdk, scope-ci

#349 Fix using OTEL_METRICS_EXPORTER env variable
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/test/otel_configuration_SUITE.erl
Labels: language-erlang, scope-sdk
