Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2023-11, with the labels that each got.

#646 create unique processor name in otel_tracer_server
  CHANGELOG.md
  apps/opentelemetry/src/otel_batch_processor.erl
  apps/opentelemetry/src/otel_simple_processor.erl
  apps/opentelemetry/src/otel_tracer_server.erl
Labels: language-erlang, scope-sdk

#658 Set specific otp versions
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
  .github/workflows/w3c_interop.yml
  apps/opentelemetry_api/mix.exs
  apps/opentelemetry_api/mix.lock
Labels: language-elixir, scope-api, scope-ci

#648 fix(otel_otlp_metrics): convert histogram timestamps and fix 'unix_nano' field names
  apps/opentelemetry_experimental/src/otel_otlp_metrics.erl
Labels: language-erlang

#605 Add User-Agent header to exporter requests
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
  rebar.config
Labels: language-erlang

#632 Improve spec compliance
  CHANGELOG.md
  apps/opentelemetry_api_experimental/include/otel_meter.hrl
  apps/opentelemetry_api_experimental/lib/open_telemetry/counter.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/histogram.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/updown_counter.ex
  apps/opentelemetry_api_experimental/src/otel_counter.erl
  apps/opentelemetry_api_experimental/src/otel_histogram.erl
  apps/opentelemetry_api_experimental/src/otel_meter.erl
  apps/opentelemetry_api_experimental/src/otel_updown_counter.erl
  apps/opentelemetry_experimental/src/otel_aggregation_sum.erl
  apps/opentelemetry_experimental/src/otel_meter_default.erl
  apps/opentelemetry_experimental/src/otel_meter_server.erl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
Labels: language-elixir, language-erlang
