Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2023-05, with the labels that each got.

#583 Changed a couple of include_lib directives to include
  apps/opentelemetry_experimental/src/otel_otlp_metrics.erl
  apps/opentelemetry_experimental/src/otel_view.erl
Labels: language-erlang

#581 metrics: get the Resource from the Provider/server when registering a Reader
  apps/opentelemetry_api_experimental/include/otel_meter.hrl
  apps/opentelemetry_api_experimental/src/opentelemetry_experimental.erl
  apps/opentelemetry_experimental/src/otel_meter_server.erl
  apps/opentelemetry_experimental/src/otel_metric_exporter_console.erl
  apps/opentelemetry_experimental/src/otel_metric_reader.erl
  apps/opentelemetry_experimental/src/otel_otlp_metrics.erl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
Labels: language-erlang

#586 get meter for application instrmentation scope in Elixir macros
  .github/workflows/elixir.yml
  apps/opentelemetry_api_experimental/lib/open_telemetry/counter.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/histogram.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/observable_counter.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/observable_gauge.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/observable_updown_counter.ex
  apps/opentelemetry_api_experimental/lib/open_telemetry/updown_counter.ex
  apps/opentelemetry_api_experimental/mix.exs
  mix.exs
  test/otel_metric_tests.exs
Labels: language-elixir, scope-ci

#575 add eqWAlizer to github actions
  .github/workflows/erlang.yml
Labels: scope-ci

#589 bump rebar3 and OTP versions in CI
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
  .github/workflows/w3c_interop.yml
  rebar.config
Labels: scope-ci

#591 exporter: only start inets httpc profile if it doesn't exist
  CHANGELOG.md
  apps/opentelemetry_exporter/src/opentelemetry_exporter.app.src
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
  docs.sh
Labels: language-erlang

#592 cumulative sums fix
  apps/opentelemetry_experimental/src/otel_aggregation_sum.erl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
Labels: language-erlang

#593 bump experimental api and sdk to 0.4.0
  apps/opentelemetry_api_experimental/rebar.config
  apps/opentelemetry_api_experimental/src/opentelemetry_api_experimental.app.src
  apps/opentelemetry_experimental/rebar.config
  apps/opentelemetry_experimental/src/opentelemetry_experimental.app.src
Labels: language-erlang
