Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2023-01, with the labels that each got.

#530 bump experimental api dep on stable api to 1.2
  apps/opentelemetry_api_experimental/rebar.config
Labels: language-erlang

#531 Store keys for otel_resource attributes as atoms
  apps/opentelemetry/src/otel_resource.erl
  apps/opentelemetry/src/otel_resource_detector.erl
  apps/opentelemetry/test/otel_resource_SUITE.erl
Labels: language-erlang, scope-sdk

#537 Using opentelemetry_semantic_conventions for record_exception
  apps/opentelemetry_api/lib/open_telemetry/span.ex
  apps/opentelemetry_api/mix.exs
  apps/opentelemetry_api/mix.lock
  apps/opentelemetry_api/rebar.config
  apps/opentelemetry_api/src/otel_span.erl
Labels: language-elixir, language-erlang, scope-api

#540 Have set_status check is_recording in all cases
  apps/opentelemetry_api/src/otel_span.erl
Labels: language-erlang, scope-api

#541 upgrade tls_certificate to 1.17
  apps/opentelemetry_exporter/rebar.config
  rebar.lock
Labels: language-erlang

#533 fix typespec of text_map:carrier_get/set
  apps/opentelemetry_api/src/otel_propagator_text_map.erl
Labels: language-erlang, scope-api
