Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2023-08, with the labels that each got.

#603 Support otp 22
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
  CHANGELOG.md
  README.md
  apps/opentelemetry/rebar.config
  apps/opentelemetry/src/otel_batch_processor.erl
  apps/opentelemetry/src/otel_simple_processor.erl
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/opentelemetry_api.app.src
  apps/opentelemetry_api/src/otel_tracer_provider.erl
  apps/opentelemetry_exporter/rebar.config
  docs.sh
Labels: language-erlang, scope-api, scope-sdk, scope-ci

#599 fix otel api experimental main docs page
  apps/opentelemetry_api_experimental/mix.exs
Labels: language-elixir

#606 Use min/max in histogram match_spec
  apps/opentelemetry_experimental/src/otel_aggregation_histogram_explicit.erl
Labels: language-erlang

#607 add tracestate module and record
  CHANGELOG.md
  apps/opentelemetry/src/otel_links.erl
  apps/opentelemetry/src/otel_sampler.erl
  apps/opentelemetry/src/otel_span_utils.erl
  apps/opentelemetry/test/otel_samplers_SUITE.erl
  apps/opentelemetry_api/include/opentelemetry.hrl
  apps/opentelemetry_api/lib/open_telemetry.ex
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/otel_propagator_trace_context.erl
  apps/opentelemetry_api/src/otel_span.erl
  apps/opentelemetry_api/src/otel_tracer_noop.erl
  apps/opentelemetry_api/src/otel_tracestate.erl
  apps/opentelemetry_api/test/open_telemetry_test.exs
  apps/opentelemetry_api/test/opentelemetry_api_SUITE.erl
  apps/opentelemetry_api/test/otel_propagators_SUITE.erl
  apps/opentelemetry_exporter/src/otel_otlp_traces.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
  rebar.lock
Labels: language-elixir, language-erlang, scope-api, scope-sdk

#615 Change `@opaque config` to `@type config` to satisfy dialyzer in project
  apps/opentelemetry/src/otel_sampler_trace_id_ratio_based.erl
Labels: language-erlang, scope-sdk

#614 Histogram buckets should be 1 more than boundaries
  CHANGELOG.md
  apps/opentelemetry_experimental/src/otel_aggregation_histogram_explicit.erl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
Labels: language-erlang

#618 move attribute smodule to api
  CHANGELOG.md
  apps/opentelemetry_api/src/otel_attributes.erl
Labels: language-erlang, scope-api

#620 move attribute processing to otel-attribute module
  CHANGELOG.md
  apps/opentelemetry_api/src/opentelemetry.erl
  apps/opentelemetry_api/src/otel_attributes.erl
  apps/opentelemetry_api/src/otel_span.erl
  apps/opentelemetry_api/test/opentelemetry_api_SUITE.erl
Labels: language-erlang, scope-api
