Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2023-03, with the labels that each got.

#549 use unique httpc profile per otlp exporter
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
Labels: language-erlang

#553 metric views: support filtering attributes
  apps/opentelemetry_experimental/src/otel_aggregation.erl
  apps/opentelemetry_experimental/src/otel_meter_server.erl
  apps/opentelemetry_experimental/src/otel_view.erl
  apps/opentelemetry_experimental/src/otel_view.hrl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
Labels: language-erlang

#560 metrics: support delta/cumulative conversions in sum aggregator
  apps/opentelemetry_api_experimental/include/otel_metrics.hrl
  apps/opentelemetry_api_experimental/src/otel_instrument.erl
  apps/opentelemetry_experimental/include/otel_metrics.hrl
  apps/opentelemetry_experimental/src/otel_aggregation.erl
  apps/opentelemetry_experimental/src/otel_aggregation_histogram_explicit.erl
  apps/opentelemetry_experimental/src/otel_aggregation_last_value.erl
  apps/opentelemetry_experimental/src/otel_aggregation_sum.erl
  apps/opentelemetry_experimental/src/otel_meter_server.erl
  apps/opentelemetry_experimental/src/otel_view.hrl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-erlang

#559 Fix swapping exporter tables
  apps/opentelemetry/src/otel_batch_processor.erl
Labels: language-erlang, scope-sdk

#562 bump sdk to 1.3.0
  CHANGELOG.md
  apps/opentelemetry_experimental/rebar.config
  apps/opentelemetry_exporter/rebar.config
  docs.sh
Labels: language-erlang

#551 Elixir semcomv: use functions instead of macros
  apps/opentelemetry_semantic_conventions/README.md
  apps/opentelemetry_semantic_conventions/lib/open_telemetry/semantic_conventions/logs.ex
  apps/opentelemetry_semantic_conventions/lib/open_telemetry/semantic_conventions/resource.ex
  apps/opentelemetry_semantic_conventions/lib/open_telemetry/semantic_conventions/trace.ex
  apps/opentelemetry_semantic_conventions/templates/semantic_conventions.ex.j2
Labels: language-elixir

#564 fix a couple tests
  apps/opentelemetry_api/test/opentelemetry_api_SUITE.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
Labels: language-erlang, scope-api

#556 looks like strict option wants to be on erlef/setup-beam not top level
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
Labels: scope-ci

#555 documents valid span statuses
  apps/opentelemetry_api/lib/open_telemetry.ex
  apps/opentelemetry_api/lib/open_telemetry/span.ex
Labels: language-elixir, scope-api
