Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2024-04, with the labels that each got.

#722 Group modules in the docs for opentelemetry_api
  apps/opentelemetry_api/docs.config
Labels: scope-api

#709 make the console metric exporter handle all values
  apps/opentelemetry_experimental/src/otel_metric_exporter_console.erl
Labels: language-erlang

#717 add otel_span:start_config typespec and use it in the SDK
  apps/opentelemetry/src/otel_span_ets.erl
  apps/opentelemetry/src/otel_span_utils.erl
  apps/opentelemetry/src/otel_tracer_default.erl
  apps/opentelemetry_api/lib/open_telemetry/span.ex
  apps/opentelemetry_api/src/otel_span.erl
  apps/opentelemetry_api/src/otel_tracer_noop.erl
Labels: language-elixir, language-erlang, scope-api, scope-sdk

#723 Make the otel_utils module private
  apps/opentelemetry_api/src/otel_utils.erl
Labels: language-erlang, scope-api

#728 Group and hide modules in "opentelemetry" app
  apps/opentelemetry/docs.config
  apps/opentelemetry/src/opentelemetry_app.erl
  apps/opentelemetry/src/opentelemetry_sup.erl
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/src/otel_span_sup.erl
  apps/opentelemetry/src/otel_span_utils.erl
  apps/opentelemetry/src/otel_tracer_provider_sup.erl
  apps/opentelemetry/src/otel_tracer_server_sup.erl
Labels: language-erlang, scope-sdk

#727 Documentation for `otel_resource*` modules
  apps/opentelemetry/src/otel_resource.erl
  apps/opentelemetry/src/otel_resource_app_env.erl
  apps/opentelemetry/src/otel_resource_detector.erl
  apps/opentelemetry/src/otel_resource_env_var.erl
Labels: language-erlang, scope-sdk

#720 move metrics and logs to separate exporter modules from traces
  apps/opentelemetry/src/otel_batch_processor.erl
  apps/opentelemetry/src/otel_exporter.erl
  apps/opentelemetry/src/otel_exporter_pid.erl
  apps/opentelemetry/src/otel_exporter_stdout.erl
  apps/opentelemetry/src/otel_exporter_tab.erl
  apps/opentelemetry/src/otel_exporter_traces.erl
  apps/opentelemetry/src/otel_simple_processor.erl
  apps/opentelemetry_experimental/src/otel_aggregation.erl
  apps/opentelemetry_experimental/src/otel_aggregation_histogram_explicit.erl
  apps/opentelemetry_experimental/src/otel_aggregation_last_value.erl
  apps/opentelemetry_experimental/src/otel_aggregation_sum.erl
  apps/opentelemetry_experimental/src/otel_exporter_logs.erl
  apps/opentelemetry_experimental/src/otel_exporter_logs_otlp.erl
  apps/opentelemetry_experimental/src/otel_exporter_metrics.erl
  apps/opentelemetry_experimental/src/otel_exporter_metrics_otlp.erl
  apps/opentelemetry_experimental/src/otel_log_handler.erl
  apps/opentelemetry_experimental/src/otel_meter_server.erl
  apps/opentelemetry_experimental/src/otel_meter_server_sup.erl
  apps/opentelemetry_experimental/src/otel_metric_exemplar_reservoir_simple.erl
  apps/opentelemetry_experimental/src/otel_metric_exporter_console.erl
  apps/opentelemetry_experimental/src/otel_metric_exporter_pid.erl
  apps/opentelemetry_experimental/src/otel_metric_reader.erl
  apps/opentelemetry_experimental/src/otel_observables.erl
  apps/opentelemetry_experimental/src/otel_otlp_logs.erl
  apps/opentelemetry_experimental/src/otel_otlp_metrics.erl
  apps/opentelemetry_experimental/test/otel_exporter_metrics_otlp_SUITE.erl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
  apps/opentelemetry_exporter/src/opentelemetry_exporter.erl
  apps/opentelemetry_exporter/src/otel_exporter_otlp.erl
  apps/opentelemetry_exporter/src/otel_exporter_traces_otlp.erl
  apps/opentelemetry_exporter/src/otel_otlp_traces.erl
  apps/opentelemetry_exporter/test/opentelemetry_exporter_SUITE.erl
  config/sys.config
Labels: language-erlang, scope-sdk

#732 Document more functions in the "opentelemetry" module
  apps/opentelemetry_api/src/opentelemetry.erl
Labels: language-erlang, scope-api

#729 Document sampler modules
  apps/opentelemetry/src/otel_sampler.erl
  apps/opentelemetry/src/otel_sampler_always_off.erl
  apps/opentelemetry/src/otel_sampler_always_on.erl
  apps/opentelemetry/src/otel_sampler_parent_based.erl
  apps/opentelemetry/src/otel_sampler_trace_id_ratio_based.erl
  apps/opentelemetry_api_experimental/.gitignore
Labels: language-erlang, scope-sdk
