Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2024-03, with the labels that each got.

#701 Metric producers
  apps/opentelemetry/src/otel_configuration.erl
  apps/opentelemetry/src/otel_simple_processor.erl
  apps/opentelemetry_api/src/otel_span.erl
  apps/opentelemetry_experimental/include/otel_metrics.hrl
  apps/opentelemetry_experimental/src/otel_aggregation.erl
  apps/opentelemetry_experimental/src/otel_aggregation_histogram_explicit.erl
  apps/opentelemetry_experimental/src/otel_aggregation_sum.erl
  apps/opentelemetry_experimental/src/otel_meter_default.erl
  apps/opentelemetry_experimental/src/otel_meter_server.erl
  apps/opentelemetry_experimental/src/otel_metric_exporter_pid.erl
  apps/opentelemetry_experimental/src/otel_metric_producer.erl
  apps/opentelemetry_experimental/src/otel_metric_reader.erl
  apps/opentelemetry_experimental/src/otel_metrics_tables.erl
  apps/opentelemetry_experimental/src/otel_observables.erl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
  apps/opentelemetry_experimental/test/simple_metric_producer.erl
Labels: language-erlang, scope-api, scope-sdk

#697 Add a fresh context to each observable callback and test observe exemplars
  apps/opentelemetry_api/include/otel_ctx.hrl
  apps/opentelemetry_api/src/otel_ctx.erl
  apps/opentelemetry_experimental/src/otel_aggregation.erl
  apps/opentelemetry_experimental/src/otel_meter_server.erl
  apps/opentelemetry_experimental/src/otel_metric_exemplar_reservoir_aligned_histogram.erl
  apps/opentelemetry_experimental/src/otel_metric_exemplar_reservoir_simple.erl
  apps/opentelemetry_experimental/src/otel_observables.erl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
Labels: language-erlang, scope-api

#669 don't export unit fields in metrics when the unit is undefined
  apps/opentelemetry_experimental/src/otel_otlp_metrics.erl
Labels: language-erlang

#711 bump version on api, sdk, experimental api, sdk and exporter
  CHANGELOG.md
  apps/opentelemetry/rebar.config
  apps/opentelemetry/src/opentelemetry.app.src
  apps/opentelemetry_api/src/opentelemetry_api.app.src
  apps/opentelemetry_api_experimental/mix.exs
  apps/opentelemetry_api_experimental/mix.lock
  apps/opentelemetry_api_experimental/rebar.config
  apps/opentelemetry_api_experimental/src/opentelemetry_api_experimental.app.src
  apps/opentelemetry_experimental/rebar.config
  apps/opentelemetry_experimental/src/opentelemetry_experimental.app.src
  apps/opentelemetry_experimental/src/otel_metric_exemplar_reservoir_aligned_histogram.erl
  apps/opentelemetry_exporter/rebar.config
  apps/opentelemetry_exporter/src/opentelemetry_exporter.app.src
  docs.sh
Labels: language-elixir, language-erlang, scope-api, scope-sdk

#713 use correct default temporality for streams based on the instrument kind
  CHANGELOG.md
  apps/opentelemetry_api_experimental/src/opentelemetry_api_experimental.app.src
  apps/opentelemetry_api_experimental/src/otel_instrument.erl
  apps/opentelemetry_experimental/rebar.config
  apps/opentelemetry_experimental/src/opentelemetry_experimental.app.src
  apps/opentelemetry_experimental/src/otel_aggregation.erl
  apps/opentelemetry_experimental/src/otel_meter_default.erl
  apps/opentelemetry_experimental/src/otel_metric_reader.erl
  apps/opentelemetry_experimental/test/otel_metrics_SUITE.erl
  docs.sh
Labels: language-erlang

#715 removed old unused otel_metric_exporter module
  apps/opentelemetry_experimental/src/otel_metric_exporter.erl
Labels: language-erlang
