Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2024-09, with the labels that each got.

#764 bump api to 1.3.1
  CHANGELOG.md
  apps/opentelemetry_api/src/opentelemetry_api.app.src
  docs.sh
Labels: scope-api

#766 Exception should be atom
  apps/opentelemetry_api/lib/open_telemetry/span.ex
  test/otel_tests.exs
Labels: language-elixir, scope-api

#772 Fix warning by replacing charlist with string
  apps/opentelemetry_api_experimental/mix.exs
  apps/opentelemetry_semantic_conventions/mix.exs
Labels: language-elixir

#779 Set sem-conv package name explicitly
  apps/opentelemetry_semantic_conventions/mix.exs
Labels: language-elixir, scope-semconv

#780 Hard code semconv 0.2 values
  apps/opentelemetry/rebar.config
  apps/opentelemetry/src/opentelemetry.app.src
  apps/opentelemetry/src/otel_resource_detector.erl
  apps/opentelemetry/test/otel_resource_SUITE.erl
  apps/opentelemetry_api/lib/open_telemetry/span.ex
  apps/opentelemetry_api/mix.exs
  apps/opentelemetry_api/mix.lock
  apps/opentelemetry_api/rebar.config
  apps/opentelemetry_api/src/opentelemetry_api.app.src
  apps/opentelemetry_api/src/otel_span.erl
  apps/opentelemetry_api_experimental/src/opentelemetry_api_experimental.app.src
  apps/opentelemetry_experimental/src/opentelemetry_experimental.app.src
  apps/opentelemetry_exporter/src/opentelemetry_exporter.app.src
  apps/opentelemetry_zipkin/src/opentelemetry_zipkin.app.src
Labels: language-elixir, language-erlang, scope-api, scope-sdk
