Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2025-01, with the labels that each got.

#814 Update OTP/Elixir versions and drop OTP 23 & 24
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
Labels: scope-ci

#813 remove unneeded eqwalizer_rebar3 plugin
  .github/workflows/erlang.yml
  rebar.config
Labels: scope-ci

#815 Update min Elixir version in SemConv
  apps/opentelemetry_semantic_conventions/mix.exs
Labels: language-elixir, scope-semconv

#809 Always install latest ExDoc before generating docs
  docs.sh
Labels: language-elixir, language-erlang, scope-api, scope-sdk, scope-ci, docs
