Repository open-telemetry/opentelemetry-erlang, pull requests merged in 2025-02, with the labels that each got.

#833 Try to fix FOSSA workflow
  .github/workflows/fossa.yml
Labels: scope-ci

#802 bump experimental api and sdk versions (0.5.2 and 0.5.1)
  CHANGELOG.md
  apps/opentelemetry_api_experimental/mix.lock
  apps/opentelemetry_api_experimental/rebar.config
  apps/opentelemetry_api_experimental/src/opentelemetry_api_experimental.app.src
  apps/opentelemetry_experimental/rebar.config
  apps/opentelemetry_experimental/src/opentelemetry_experimental.app.src
  docs.sh
  rebar.lock
Labels: language-erlang

#836 fix batch export interval to match spec at 5 sec
  apps/opentelemetry/src/otel_batch_processor.erl
Labels: language-erlang, scope-sdk
